.action-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .action-card {
	@include span-columns(4);
	background-color: $white;
	border-radius: 10px;
	margin-bottom: $base-padding;
	position: relative;
	border: 1px solid $neutral-gray;

	flex-basis: 15em;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 10px;

	p {
	  flex: 1 0 auto;
	}

	.card-content-subhead {
	  color: $dark-gray;
	  font-weight: $weight-light;
	  margin-bottom: ($base-padding-lite / 2);
	}
  }

}