autocomplete {

  .autocomplete-state {
    font-size: 0.7em;
  }

  typeahead-container {
    position: absolute;
    display: block;
    width: 100%;
  }

  .dropdown {
    background-color: white;
    border: 1px solid $base-border-color;
    border-radius: 3px;
    margin: 0;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    z-index: 100;
  }

  .dropdown-menu {
    margin: 0;
    padding: 0;
    font-size: 12px;
    list-style: none;
    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-top: 2px;
      padding-bottom: 4px;
      padding-left: 6px;
      padding-right: 6px;
      cursor: pointer;
      a {
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        color: $base-font-color;
      }
    }

    li.active {
      background-color: #f9f9f9;
    }
  }
}

.mini-progress {
  position: relative;
  display: inline-block;
  height: 8px;
  vertical-align: middle;

  .floatBarsG {
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 8px;
    height: 8px;
    animation-name: bounce_floatBarsG;
    -o-animation-name: bounce_floatBarsG;
    -ms-animation-name: bounce_floatBarsG;
    -webkit-animation-name: bounce_floatBarsG;
    -moz-animation-name: bounce_floatBarsG;
    animation-duration: 1.69s;
    -o-animation-duration: 1.69s;
    -ms-animation-duration: 1.69s;
    -webkit-animation-duration: 1.69s;
    -moz-animation-duration: 1.69s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
  }

  .floatBarsG_1 {
    left: 0;
    animation-delay: 0.68s;
    -o-animation-delay: 0.68s;
    -ms-animation-delay: 0.68s;
    -webkit-animation-delay: 0.68s;
    -moz-animation-delay: 0.68s;
  }

  .floatBarsG_2 {
    left: 8px;
    animation-delay: 0.85s;
    -o-animation-delay: 0.85s;
    -ms-animation-delay: 0.85s;
    -webkit-animation-delay: 0.85s;
    -moz-animation-delay: 0.85s;
  }

  .floatBarsG_3 {
    left: 16px;
    animation-delay: 1.01s;
    -o-animation-delay: 1.01s;
    -ms-animation-delay: 1.01s;
    -webkit-animation-delay: 1.01s;
    -moz-animation-delay: 1.01s;
  }

  .floatBarsG_4 {
    left: 25px;
    animation-delay: 1.18s;
    -o-animation-delay: 1.18s;
    -ms-animation-delay: 1.18s;
    -webkit-animation-delay: 1.18s;
    -moz-animation-delay: 1.18s;
  }

  .floatBarsG_5 {
    left: 33px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
  }

  .floatBarsG_6 {
    left: 41px;
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
  }

  .floatBarsG_7 {
    left: 49px;
    animation-delay: 1.69s;
    -o-animation-delay: 1.69s;
    -ms-animation-delay: 1.69s;
    -webkit-animation-delay: 1.69s;
    -moz-animation-delay: 1.69s;
  }

  .floatBarsG_8 {
    left: 58px;
    animation-delay: 1.86s;
    -o-animation-delay: 1.86s;
    -ms-animation-delay: 1.86s;
    -webkit-animation-delay: 1.86s;
    -moz-animation-delay: 1.86s;
  }

  @keyframes bounce_floatBarsG {
    0% {
      transform: scale(1);
      background-color: rgb(0, 0, 0);
    }

    100% {
      transform: scale(.3);
      background-color: rgb(255, 255, 255);
    }
  }

  @-o-keyframes bounce_floatBarsG {
    0% {
      -o-transform: scale(1);
      background-color: rgb(0, 0, 0);
    }

    100% {
      -o-transform: scale(.3);
      background-color: rgb(255, 255, 255);
    }
  }

  @-ms-keyframes bounce_floatBarsG {
    0% {
      -ms-transform: scale(1);
      background-color: rgb(0, 0, 0);
    }

    100% {
      -ms-transform: scale(.3);
      background-color: rgb(255, 255, 255);
    }
  }

  @-webkit-keyframes bounce_floatBarsG {
    0% {
      -webkit-transform: scale(1);
      background-color: rgb(0, 0, 0);
    }

    100% {
      -webkit-transform: scale(.3);
      background-color: rgb(255, 255, 255);
    }
  }

  @-moz-keyframes bounce_floatBarsG {
    0% {
      -moz-transform: scale(1);
      background-color: rgb(0, 0, 0);
    }

    100% {
      -moz-transform: scale(.3);
      background-color: rgb(255, 255, 255);
    }
  }

}