%button {
  @include transition-property(background-color);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-out);
  @include transition-delay(0s);
  @include appearance(none);
  @include heading('para-md');

  border: none;
  border-radius: $small-border-radius;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.6em;
  padding-bottom: 8px;
  padding-top: 8px;
  user-select: none;
  vertical-align: middle;
  // typography
  font-family: $base-font-family;
  font-weight: $weight-book;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

button,
.button,
input[type='submit'] {
  @extend %button;
}

.button-primary {
  @extend %button;

  background-color: $primary-button-bg-color;
  color: $white;
  padding-left: 0.7em;
  padding-right: 0.7em;
  //-webkit-font-smoothing: antialiased;
  @include transition (all 0.2s ease-in-out);

  &:hover,
  &:focus {
    background-color: $primary-hover-button-bg-color;
    color: $primary-hover-button-color;

    a {
      border-bottom: none;
      color: $primary-button-color;
    }
  }

  a {
    border-bottom: none;
    color: $primary-button-color;
  }
}

.button-secondary,
.button-tertiary,
.download-button {
  @extend %button;

  background-color: $secondary-button-bg-color;
  border: 1px solid $secondary-button-border-color;
  color: $secondary-button-color;
  padding-left: 0.7em;
  padding-right: 0.7em;

  &:hover,
  &:focus {
    background-color: $secondary-hover-button-bg-color;
    color: $secondary-hover-button-color;

    a {
      border-bottom: none;
      color: $secondary-button-color;
    }
  }

  a {
    border-bottom: none;
    color: $secondary-button-color;
  }
}

.button-tertiary,
.download-button {
  background-color: $tertiary-button-bg-color;
}

.button-big {
  font-size: $base-font-size;
  //-webkit-font-smoothing: antialiased;
  height: 35px;
  width: 150px;
}

.button-very-big {
  font-size: $base-font-size;
  //-webkit-font-smoothing: antialiased;
  height: 48px;
  width: 400px;
  line-height: 2em;
}

.button-full-width {
  min-height: 48px;
  width: 100%;
  line-height: 2em;
}

.button-small-margin {
  margin: 0;
  padding: 4px;
}

.tool-button {
  background-color: $secondary-button-bg-color;
  border: 1px solid $secondary-button-border-color;
  color: $secondary-button-color;
}

.tool-button.down {
  background-color: $secondary-hover-button-bg-color;
  border: 1px solid darken($secondary-hover-button-bg-color, 50%);
  color: $secondary-hover-button-color;
  cursor: default;
}

.download-button {
  i {
    color: $base-link-color;
  }
}
