.data-tree-node {
	list-style: none;
	border-left: 1px solid $base-border-color;

	.tree-hover:hover {
		background-color: #e1e4e8;
	}

	.tree-node {
		width: 300px;
		display: inline-block;

		i {
			vertical-align: middle;
		}
	}

	.tree-node-desc, .tree-node-ref {
		display: inline-block;
	}

	.tree-node-title {
		font-weight: bold;
		font-size: 0.9em;
	}

	.tree-node-enum {
		font-size: 0.7em;
	}

	.tree-node-type, .tree-node-desc, .tree-node-ref {
		font-size: 0.8em;
	}
}
