.dialog-button {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: $primary-button-bg-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 10%);
  $dropdown-border: 1px solid $secondary-button-border-color;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 1%);
  $dropdown-inner-border: 1px solid $secondary-button-border-color;
  $dropdown-height: 28px;
  $dropdown-padding: 0.5em;
  $dropdown-distance-from-menu: 50px;
  $dropdown-arrow-top-distance: 0;

  line-height: $base-line-height;
  display: inline-block;

  .dialog-button_inner {
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .dialog-button_description {
    //background: $dropdown-background;
    //color: $dropdown-description-color;
    border-bottom-left-radius: $base-border-radius;
    border-bottom: $dropdown-border;
    border-left: $dropdown-border;
    border-top-left-radius: $base-border-radius;
    border-top: $dropdown-border;
    float: left;
    font-size: 0.8em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 $dropdown-padding 0 $dropdown-padding;
  }

  .dialog-button_text {
    background: $dropdown-background;
    border-bottom-left-radius: $base-border-radius;
    border-bottom: $dropdown-border;
    border-left: $dropdown-border;
    border-top-left-radius: $base-border-radius;
    border-top: $dropdown-border;
    border-bottom-right-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    border-top: $dropdown-border;
    border-right: $dropdown-border;
    border-bottom: $dropdown-border;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding * 2.5) 0 $dropdown-padding;
    position: relative;
    @include transition (all 0.2s ease-in-out);

    &:hover {
      background-color: $dropdown-background-hover;
    }
    &:after {
      color: $base-font-color;
      content: "\25BE";
      display: block;
      position: absolute;
      right: $dropdown-padding;
      top: $dropdown-arrow-top-distance;
    }
  }

}
