
.chart-container {
  width: 100%;
}

graph {
  display: block;
  width: 100%;
}

.graph-toolbar {
  display: block;
  button {
    font-size: 0.8em;
  }
}

.graph-title {
  font-size: 0.9em;
  font-weight: bold;
  min-height: 22px;
}

.graph-header {
  margin-bottom: 3px;
  margin-top: 20px;

  .graph-title {
    line-height: 30px;
    text-align: center;
    display: inline-block;
    @include respond-to(small-down) {
      display: block;
      text-align: center;
    }
  }

  .graph-toolbar {
    display: inline-block;

    @include respond-to(small-down) {
      float: inherit;
      display: block;
      text-align: center;
    }

    button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

.graph-footer {
  font-size: 0.8em;
  .tool-button {
    border: none;
  }
  .graph-toolbar {
    float: right;
    button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  clear: both;
}

.graph-toolbar-container {
  overflow: hidden;
  width: 100%;
  margin-bottom: 3px;
  min-height: 30px;

  button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.graph-toolbar-left {
  float: left;
}

.graph-toolbar-right {
  float: right;
  text-align: right;
}

.nutsmap_leaflet, .map_leaflet {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.nutsmap_placeholder, .map_placeholder {
  top: -100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  opacity: 0.7;
  background-color: white;
}

.nutsmap_subtitle {
  width: 100%;
  font-size: 11px;
  text-align: right;
  line-height: 1.3em;
  padding-top: 4px;
}

.nutsmap_legend {
  font-size: 10px;
  float: left;
  span {
    vertical-align: top;
  }
}

.nutsmap_containers, .map_containers {
  width: 100%;
  border: 1px solid #ececec;
  overflow: hidden;
}

.nutsmap_popup {
  .leaflet-popup-content-wrapper {
    border-radius: 3px;
  }
  .leaflet-popup-tip, .leaflet-popup-content-wrapper {
    color: #fff;
    background: rgba(0, 0, 0, .75);
  }
  .leaflet-popup-content {
    font-family: $base-font-family;
  }
}
