
svg {
  //border: 1px solid #ececec;
}

pie {
  height: 246px;
  max-height: 246px;
  display: block;
}

.bars-svg {
  width: 100%;
  height: 246px;
  max-height: 246px;
  overflow: hidden;
}

.chart-container {
  width: 100%;
  //height: 246px;
  //max-height: 246px;
  //overflow: hidden;
}

graph {
  display: block;
  width: 100%;
}

.graph-toolbar {
  text-align: right;
  display: block;
  //width: 100%;
  button {
    font-size: 0.8em;
  }
}


.graph-title {
  font-size: 0.9em;
  font-weight: bold;
}


.graph-header {
  margin-bottom: 3px;
  margin-top: 20px;

  .graph-title {
    line-height: 30px;
    text-align: center;
    display: inline-block;
    @include respond-to(small-down) {
      display: block;
      text-align: center;
    }
  }

  .graph-toolbar {
    float: right;
    display: inline-block;

    @include respond-to(small-down) {
      float: inherit;
      display: block;
      text-align: center;
    }

    button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.nutsmap_leaflet {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.nutsmap_placeholder {
  top: -100%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  opacity: 0.7;
  background-color: white;
}

.nutsmap_subtitle {
  width: 100%;
  font-size: 10px;
  text-align: right;
}

.nutsmap_containers {
  width: 100%;
  border: 1px solid #ececec;
  overflow: hidden;
}

.nutsmap_popup {
  .leaflet-popup-content-wrapper {
    border-radius: 3px;
  }
  .leaflet-popup-tip, .leaflet-popup-content-wrapper {
    color: #fff;
    background: rgba(0, 0, 0, .75);
  }
  .leaflet-popup-content {
    font-family: $base-font-family;
  }
}
