
.chart-container {
  width: 100%;
}

graph {
  display: block;
  width: 100%;
}

ngx-charts-chart {
  > div {
    border: 1px solid #ebebeb;
    display: block;
    padding-top: 8px;
    position: relative;
    background: #f9f9f9;
  }
}

.graph-toolbar {
  display: block;
  button {
    font-size: 0.8em;
  }

  @include respond-to(small-down) {
    float: inherit;
    display: block;
    text-align: center;
  }

  @include respond-to(tiny-down) {
    font-size: 0.8em;
  }

}

.graph-title {
  font-size: 0.9em;
  font-weight: bold;
  min-height: 22px;
}

.graph-header {
  margin-bottom: 3px;
  margin-top: 20px;

  .graph-title {
    line-height: 30px;
    text-align: center;
    display: inline-block;
    @include respond-to(small-down) {
      display: block;
      text-align: center;
    }
  }

  .graph-toolbar {
    display: inline-block;

    @include respond-to(small-down) {
      float: inherit;
      display: block;
      text-align: center;
    }

    button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

.graph-footer {
  font-size: 0.9em;
  .tool-button {
    border: none;
  }
  .graph-toolbar {
    float: right;
    button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  clear: both;
}

.graph-toolbar-container {
  overflow: hidden;
  width: 100%;
  margin-bottom: 3px;
  @include respond-to(medium-up) {
    min-height: 30px;
  }
  button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.graph-toolbar-left {
  float: inherit;
  display: block;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  @include respond-to(small-up) {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
  }

}

.graph-toolbar-right {
  float: inherit;
  display: block;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  @include respond-to(small-up) {
    float: right;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

