
table {
  @include font-size(0.9);

  border: 1px solid $mid-gray;
  border-spacing: 2px;
  color: $dark-gray;
  font-weight: $weight-light;
  margin-bottom: $base-padding;
}

thead {
  background-color: $primary-button-bg-color;
  border-bottom: 2px solid $mid-gray;
  font-weight: $weight-book;
  text-align: center;
}

td {
  border: 1px solid $mid-gray;
  padding: 5px;
}

.tables-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

.tables {
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: #fff;
  $table-active-background: #fefff3;
  $table-stripe-background: darken($table-background, 2%);
  $table-hover-background: darken($table-background, 5%);
  $table-stripe-background-hover: darken($table-stripe-background, 5%);
  width: 100%;

  background-color: $table-background;
  th {
    font-weight: bold;
    vertical-align: middle;

    &.right {
      text-align: right;
    }
    &.center {
      text-align: center;
    }

    &.tables-column-icon {
      width: 60px;
      text-align: center;
    }
  }

  tbody {

    tr {
      td {
        padding: 12px 8px;
        vertical-align: top;
        a {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        &.right {
          text-align: right;
        }
        &.center {
          text-align: center;
        }
        i.icon-large {
          font-size: 1.5em;
        }
        i {
          margin-right: 3px;
        }
      }
    }

    tr:nth-child(even) {
      background-color: $table-stripe-background;
    }

    tr.active {
      background-color: $table-active-background;
    }
  }
}

.tables-condense {
  tbody {
    tr {
      td {
        padding: 6px 8px;
      }
    }
  }
}

.table-striped {
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: #fff;
  $table-active-background: #fefff3;
  $table-stripe-background: darken($table-background, 2%);
  $table-hover-background: darken($table-background, 5%);
  $table-stripe-background-hover: darken($table-stripe-background, 5%);
  width: 100%;
  background-color: $table-background;
  th {
    font-weight: bold;
  }

  tbody {

    tr {
      td {
        padding: 12px 8px;
        a {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      &:hover {
        background-color: $table-hover-background;
      }
    }

    tr:nth-child(even) {
      background-color: $table-stripe-background;
      &:hover {
        background-color: $table-stripe-background-hover;
      }
    }

    tr.active {
      background-color: $table-active-background;
      &:hover {
        background-color: $table-active-background;
      }
    }

  }
}

.table-title {
  margin-top: 0;
  display: inline-block;
}
