valueinput {

  .valueinput-state {
    font-size: 0.7em;
  }

  label {
    margin-left: 26px !important;
  }

  .value-input-wrapper {

    .value-input {
      margin-left: 26px;
    }

    .value-mode-button {
      position: absolute;
      margin: 0;
      margin-left: -4px;
      margin-top: -4px;
      padding: 0.4em;
    }

  }

}