<div class="container-outer documentation">
	<div class="container container-padded-bottom">
		<h1 class="container-title" i18n>Glossary</h1>
	</div>

	<div class="container">
		<div class="container-left-3">
			<h2 class="h4" id="units" i18n>‎Terms</h2>
		</div>
		<div class="container-right-9">
			<h2 class="h3" id="terms-nuts">NUTS</h2>
			<p>
				<ng-container i18n>Nomenclature of territorial units for statistics (NUTS) is a geocode standard to provide a breakdown of the economic territory of the European Union into territorial units for the production of regional statistics and for targeting political interventions at a regional level. Read more at</ng-container>
				<a href="https://en.wikipedia.org/wiki/Nomenclature_of_Territorial_Units_for_Statistics" target="_blank">Wikipedia</a>,
				<a href="http://ec.europa.eu/eurostat/web/nuts/overview" target="_blank">eurostat</a>
			</p>

			<h2 class="h3" id="terms-cpv" i18n>CPV</h2>
			<p>
				<ng-container i18n>Common Procurement Vocabulary (CPV) seeks to standardise, by means of a single classification system for public procurement, the terms used by contracting authorities and entities to describe the subject of contracts. Read more at</ng-container>
				<a href="https://en.wikipedia.org/wiki/Common_Procurement_Vocabulary" target="_blank">Wikipedia</a>,
				<a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=LEGISSUM:l22008" target="_blank">EUR-Lex</a>
			</p>
		</div>
	</div>

	<div class="container" *ngFor="let group of indicatorInfos">
		<div class="container-left-3">
			<h2 class="h4" id="{{group.id}}">{{group.plural}}</h2>
		</div>
		<div class="container-right-9">
			<ng-container *ngFor="let sub of group.subindicators">
				<h2 class="h3" id="{{sub.id}}">{{sub.name}}</h2>
				<p>{{sub.desc}}</p>
			</ng-container>
		</div>
	</div>

	<div class="container">
		<div class="container-left-3">
			<h2 class="h4" id="scores" i18n>Composite Scores</h2>
		</div>
		<div class="container-right-9">
			<h2 class="h3" id="TRANSPARENCY" i18n>Transparency Score</h2>
			<p i18n>The Transparency score is the average of Transparency Indicators.</p>
			<h2 class="h3" id="INTEGRITY" i18n>Integrity Score</h2>
			<p i18n>The Procurement Integrity score is the average of Procurement Integrity Indicators.</p>
			<h2 class="h3" id="ADMINISTRATIVE" i18n>Administrative Capacity Score</h2>
			<p i18n>The Administrative Capacity score is the average of Administrative Capacity Indicators.</p>
			<h2 class="h3" id="TENDER" i18n>Good Procurement Score</h2>
			<p i18n>The overarching good procurement score is the average of the three composite scores above.</p>
		</div>
	</div>

	<div class="container">
		<div class="container-left-3">
			<h2 class="h4" id="numbers" i18n>Numbers</h2>
		</div>
		<div class="container-right-9">
			<p *ngFor="let num of numbers">{{num.name}} = {{num.value}}</p>
		</div>
	</div>

</div>
