.entity {

  .entity-title {
    margin-bottom: 13px;
    font-size: 0.8em;
    border-bottom: 2px solid $neutral-gray;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: $weight-bold;
  }

  .similars {

    .similars-list {
      max-height: 200px;
      overflow: auto;
      margin-bottom: 10px;
    }

    .similar {
      display: inline-block;
      margin-right: 18px;
      label {
        display: inline-block;
        font-size: 0.8em;
        margin-bottom: 0;
      }
      a {
        display: inline-block;
        font-size: 0.8em;
      }
    }
  }

	.description-extract {
		font-size: 0.9em;
		margin-bottom: 10px;
	}


}
