header {
  @include outer-container($max-width);
  margin-top: 30px;
  margin-bottom: 0;

  @include respond-to(medium-up) {
    margin-top: 40px;
  }
}

.header-left {
  width: 100%;
  display: inline-block;
  text-align: center;

  @include respond-to(medium-up) {
    width: 260px;
    text-align: left;
  }

  .header-logo {
    min-width: 220px;

    .header-image_link {
      &:hover,
      &:focus {
        border: none;
        text-decoration: none;
      }
    }

    .header-image_wrapper {
      display: inline-block;
      width: 200px;
      margin-right: 8px;
      height: 100%;
      @include respond-to(medium-up) {
        float: left;
      }
    }

    .header-image {
      margin-top: 0px;
      vertical-align: top;
      width: 200px;
      height: auto;
      display: inline-block;
    }

    .header-image_desc {
      font-family: $logo-font;
      //font-weight: 100;
      text-space: 4px;
      //line-height: 30px;
      white-space: nowrap;
      text-transform: uppercase;
      color: darken(#0d47a1, 2);
      margin-top: -28px;
      margin-left: 58px;
      display: block;
      position: absolute;
      letter-spacing: 2px;
      font-size: 20px;
      font-weight: 700;
    }

  }

}

.header-right {
  text-align: center;
  display: inline-block;

  @include respond-to(medium-down) {
    width: 100%;
  }
  @include respond-to(medium-up) {
    text-align: right;
    float: right;
  }

}


.header-sub {
  @include outer-container($max-width);
  margin-top: 0;

  .header-nav_bottom {
    margin-top: 10px;
    text-align: center;
    @include respond-to(medium-up) {
      text-align: right;
      float: right;
    }
  }
}

.header-nav, .header-nav_bottom {

  list-style: none;
  padding: 0;

  .header-nav_item {
    display: inline-block;
    padding-top: 0;
    padding-left: $base-padding / 3;
    padding-right: $base-padding / 3;
    font-weight: $weight-light;

    @include respond-to(medium-up) {
      padding-left: 0;
      padding-right: $base-padding / 2;
    }
    @include respond-to(large-up) {
      padding-left: 0;
      padding-right: $base-padding;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $dark-gray;
      @include font-size(0.75);
      letter-spacing: 1.1px;

      &:hover, &:active {
        text-decoration: underline;
      }
      &.active {
        font-weight: $weight-bold;
      }

      @include respond-to(huge-plus-up) {
        @include font-size(0.875);
      }
    }
  }
}
