home-tabs {

  .tabs-nav {

    @include heading(para-sm);
    margin-bottom: 3px;
    text-align: right;

    @include respond-to(tiny-down) {
      line-height: 0.75rem;
      font-size: 0.95rem;
      margin-bottom: 9px;
      text-align: center;
    }

    a {
      border: 1px solid transparent;
      color: $black;
      margin-right: $base-padding-lite;
      padding: $base-padding-lite;
      text-decoration: none;

      &:hover {
        background-color: $white;
        border: 1px solid $neutral-gray;
        border-bottom: 1px solid $white;
        font-weight: $weight-light;
      }

      &.active, &:focus {
        background-color: $white;
        border: 1px solid $neutral-gray;
        border-bottom: 1px solid $white;
        font-weight: $weight-bold;
      }
    }
  }

  .tab-panel {
    border-top: 1px solid $neutral-gray;
    padding-top: $base-padding-large;
    text-align: center;
    min-height: 430px;

    .icon-stack {
      font-size: 2em;
    }
    .tab-button {
      margin-top: $base-padding-lite;
      padding: ($base-padding * 0.7) $base-padding;
    }
  }
}

.home-heading {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: $base-padding;
  @include respond-to(medium-up) {
    margin-bottom: 0;
  }
}

.home-subheading {
  @include heading(para-md);
  font-weight: $weight-light;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.portal-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  @include respond-to(small-up) {
    -webkit-columns: 2;
    -moz-columns: 2;
      columns: 2;
  }
}

.portal-link {
  border-bottom: 1px solid $base-border-color;
  font-size: 1.2em;
  line-height: 2em;

  position: relative;
  display: block;
  clear: both;

  a {
    text-decoration: none;
  }

  > div:last-of-type {
    font-size: 0.7em;
    display: inline;
    right: 0;
    position: absolute;
  }

  &:hover {
    background-color: $light-gray-light;
  }

  @include respond-to(small-up) {
    font-size: 0.9em;
  }

  &.active {
    font-weight: bold;
  }

}

home-map {

  .container {
    margin-top: 10px;
    .container-left-6 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    .container-left-6:first-of-type {
      padding-top: 30px;
    }
  }
}
