.quality {

	.checkbox {
		float: right;
	}

	.quality-bar {
		background-color: red;
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
		height: 20px;
		overflow: hidden;
		width: 100%;
		min-width: 140px;
		margin-top: 4px;
	}

	.quality-bar-inner {
		background-color: green;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
		color: #fff;
		float: left;
		font-size: 12px;
		height: 100%;
		line-height: 20px;
		text-align: center;
		transition: width 0.6s ease 0s;
	}

	small {
		font-size: 0.8em;
	}
}
