.start-heading {
  margin-bottom: 20px;
}

.portal-map-container {
  text-align: center;
}

.portal-map-svg {
  min-width: 320px;
  max-width: 500px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map {
  background-color: white;
  //padding-bottom: $base-padding-extra;
  //padding-top: $base-padding-large;
  display: table;
  border: 1px solid $neutral-gray;
  width: 100%;

  map {
    display: table-cell;
    vertical-align: middle;
  }
  svg, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 260px;
    min-height: 260px;
    width: 100%;
    border: 0;
  }

  svg {

    .region {
      fill: #c9e9e7;
    }
    .region:hover {
      fill: lighten(#c9e9e7, 5%);
    }

  }

  margin-bottom: 28px;
}

