<div class="container-outer documentation">
	<div class="container container-padded-bottom">
		<h1 class="container-title">Freedom of Information Portals</h1>
	</div>
	<div class="container">
		<table class="tables tables-condense">
			<thead>
				<tr>
					<th>Country</th>
					<th>FOI Portal</th>
					<th>Portal System</th>
				</tr>
			</thead>
			<tbody>
			<tr *ngFor="let portal of portals">
				<td>{{portal.name}}</td>
				<td>
					<span *ngIf="!portal.foi">Unknown</span>
					<a *ngIf="portal.foi" href="{{portal.foi.url}}">{{portal.foi.name}}</a>
				</td>
				<td>
					<span *ngIf="portal.foi">{{portal.foi.format}}</span>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
