// Links
//
// Use them like this
//
// Markup:
// <a href="#">Link</a>
//
// Styleguide elements.links

%link {
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.1s linear;
}

p a,
ul a,
.link-alpha {
  @extend %link;
  color: $blue;
  text-decoration: underline;

  &:active,
  &:hover {
    text-decoration: none;

    img,
    span {
      text-decoration: none;
    }
  }

  &.button,
  &.button-primary,
  &.button-secondary {
    text-decoration: none;
  }

  img,
  span {
    border: none;
  }

}

.link-beta {
  @extend %link;
  color: $white;
}

a,
.link-charlie {
  @extend %link;
  color: $base-link-color;
  text-decoration: none;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

.hero a,
.hero-left a {
  color: $base-link-hover-color;
}

.link-active-beta {
  @extend .link-beta;
  text-decoration: underline;
}

.link-no_under {
  @extend %link;
  border: none;
  text-decoration: none;

  &:active,
  &:hover {
    border: none;
  }

  .icon-chevron-up {
    font-size: 0.7em;
  }
  .icon-chevron-down {
    font-size: 0.7em;
  }
}
