// Typography
//
// Text sizing and styling
//
// Markup:
// <h1>Introduction (h1)</h1>
// <h2>Heading 2 (h2)</h2>
// <h3>Heading 3 (h3)</h3>
// <h4>Heading 4 (h4)</h4>
// <h5>Heading 5 (h5)</h5>
// <p class="para-xl">Paragraph – Extra-Large</p>
// <p class="para-lg">Paragraph – Large</p>
// <p class="para-md">Paragraph – Medium</p>
// <p class="para-sm">Paragraph – Small</p>
// <p>Paragraph – Default (Large)</p>
//
// Styleguide elements.typography

h1,
.h1 {
  @include heading(h1);
}

h2,
.h2 {
  @include heading(h2);
}

h3,
.h3 {
  @include heading(h3);
}

h4,
.h4 {
  @include heading(h4);
}

h5,
.h5 {
  @include heading(h5);
}

.para-xl {
  @include heading('para-xl');
}

// default p
p,
ol,
ul,
.para-lg {
  @include heading('para-lg');
}

.para-md {
  @include heading('para-md');
}

.para-sm {
  @include heading('para-sm');
}

p + h2,
p + .h2,
p + h3,
p + .h3,
p + h4,
p + .h4,
table + h3,
table + .h3,
ul + h2,
ul + .h2,
ul + h3,
ul + .h3 {
  margin-top: $base-padding-large;
}


small, .smaller {
  font-size: 0.8em;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.justify {
  text-align: justify;
}

.icon-pull-down {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2em;
}

.icon-padded:before {
  padding-right: 0.41667em;
}

// Stacked Icons
// -------------------------

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.icon-stack-1x, .icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.icon-stack-1x {
  line-height: inherit;
}

.icon-stack-2x {
  font-size: 2em;
}

@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-rotate {
  display: inline-block;
  margin-top: 3px;
  font-size: 0.9em;
  animation: anim-rotate 2500ms infinite linear;
  transition: opacity 0.6s ease 0s;
  height: 1em;
  line-height: 1;
}
