@import "../../../style/globals.scss";
@import "../../thirdparty/leaflet/style/leaflet.css";
@import "../../thirdparty/leaflet/addons/fullscreen/leaflet.fullscreen.css";

.map_containers {
	width: 100%;
	border: 1px solid #ececec;
	overflow: hidden;
}

.map_placeholder {
	top: -101%;
	width: 100%;
	height: 101%;
	position: relative;
	z-index: 2;
	text-align: center;
	opacity: 0.7;
	background-color: white;
}

.map_popup {
	.leaflet-popup-content-wrapper {
		border-radius: 3px;
	}
	.leaflet-popup-tip, .leaflet-popup-content-wrapper {
		color: #fff;
		background: rgba(0, 0, 0, .75);
	}
	.leaflet-popup-content {
		font-family: $base-font-family;
	}
}

.map_leaflet {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
