<div class="autocomplete-container labeled-input-container" [ngClass]="{empty:isEmpty(),focused:focused}">
	<label><span>{{placeholder}}</span>
		<div *ngIf="typeaheadLoading" class="mini-progress">
			<div class="floatBarsG floatBarsG_1"></div>
			<div class="floatBarsG floatBarsG_2"></div>
			<div class="floatBarsG floatBarsG_3"></div>
			<div class="floatBarsG floatBarsG_4"></div>
			<div class="floatBarsG floatBarsG_5"></div>
			<div class="floatBarsG floatBarsG_6"></div>
			<div class="floatBarsG floatBarsG_7"></div>
			<div class="floatBarsG floatBarsG_8"></div>
		</div>
	</label>
	<input [(ngModel)]="asyncSelected"
		   [typeahead]="dataSource"
		   (typeaheadLoading)="changeTypeaheadLoading($event)"
		   (typeaheadNoResults)="changeTypeaheadNoResults($event)"
		   (typeaheadOnSelect)="typeaheadOnSelect($event)"
		   (typeaheadOnBlur)="typeaheadOnBlur($event)"
		   (typeaheadOnFocus)="typeaheadOnFocus($event)"
		   [typeaheadWaitMs]="300"
		   [typeaheadOptionField]="optionField"
		   [typeaheadOptionsLimit]="optionsLimit"
		   typeaheadAsync="true"
		   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
		   class="form-control">
</div>
<div class="autocomplete-state">
	<span *ngIf="typeaheadNoResults">No Results Found</span>
</div>
