<div class="filter-buttons">
	<select-filters-button [filters_all]="filters" [filters_active]="active_filters" (selectChange)="onSelectFilters($event)"></select-filters-button>
</div>
<div class="filter-box">
	<div class="filter" *ngFor="let filter of search.filters; let i = index;" [ngClass]="getFilterClass(i)">
		<div *ngIf="filter.active" [ngSwitch]="filter.def.type">
			<div class="title">{{filter.def.group | i18n}}: {{filter.def.name | i18n}} <span class="filter-close" (click)="closeFilter(filter)"><i class="icon-cross"></i></span></div>
			<div class="text" *ngSwitchCase="ISearchFilterDefType.text">
				<div class="filter-checks">
					<div *ngFor="let bucket of filter.buckets">
						<label class="checkbox">
							<input type="checkbox" [(ngModel)]="filter.enabled[bucket.key]" (ngModelChange)="refresh(bucket.key)">
							<div class="checkbox-columns">
								<span class="checkbox-column">
									<span class="value" title="{{getValueTitle(bucket,filter)}}">{{getValueTitle(bucket,filter)}}</span>
									<span class="count">{{bucket.doc_count | formatNumber}}</span>
								</span>
							</div>
						</label>
					</div>
				</div>
			</div>
			<div class="select" *ngSwitchCase="ISearchFilterDefType.select">
				<div *ngFor="let bucket of filter.buckets">
					<label class="checkbox">
						<input type="checkbox" [(ngModel)]="filter.enabled[bucket.key]" (ngModelChange)="refresh(bucket.key)">
						<div class="checkbox-columns">
							<span class="checkbox-column">
								<span class="value" title="{{getValueTitle(bucket,filter)}}">{{getValueTitle(bucket,filter)}}</span>
								<span class="count">{{bucket.doc_count | formatNumber}}</span>
							</span>
						</div>
					</label>
				</div>
			</div>
			<div class="range" *ngSwitchCase="ISearchFilterDefType.years">
				<select-year-range-filter [filter]="filter" [buckets]="filter.buckets" (onRangeChange)="refresh()"></select-year-range-filter>
			</div>
			<div class="range" *ngSwitchCase="ISearchFilterDefType.range">
				<select-score-range-filter [filter]="filter" [buckets]="filter.buckets" (onRangeChange)="refresh()"></select-score-range-filter>
			</div>
			<div class="range" *ngSwitchCase="ISearchFilterDefType.date">
				<select-date-filter [filter]="filter" [buckets]="filter.buckets" (onChange)="refresh()"></select-date-filter>
			</div>
		</div>
	</div>
</div>
