<div>
	<h2 class="table-title">{{title}} <i class="icon-spinner2 icon-rotate" *ngIf="loading>0"></i></h2>
	<select-columns-button [columns_all]="all_columns" [columns_active]="columns" (selectChange)="onSelectColumns($event)"></select-columns-button>
</div>
<doc-table [table]="table" (sortChange)="sortChange($event)"></doc-table>
<div class="graph-footer">
	<div class="graph-toolbar">
		<button class="tool-button" (click)="this.showDownload()" i18n-title title="Download data as gzipped JSON"><i class="icon-cloud-download"></i> <ng-container i18n>Download</ng-container></button>
	</div>
</div>
<pagination class="pagination" [total]="total" [defaultPageSize]="defaultPageSize" [defaultPage]="defaultPage" (paginationChange)="paginationChange($event)"></pagination>

<app-dialog i18n-title title="Download Data" [(visible)]="showDownloadDialog">
	<div *ngIf="!downloadRequested">
		<br/>
		<ng-container i18n>The download contains {{total}} entries and the compressed file size will be approximately over {{total/1000*1200000 | formatFileSize}}.</ng-container>
		<br/>
		<ng-container i18n>Files are compressed with <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Gzip">GZip</a>, which should be supported by your ZIP application.</ng-container>
		<br/>
		<br/>
		<button class="button" (click)="this.download('json')" i18n-title title="Download data as gzipped JSON"><i class="icon-cloud-download"></i>JSON.GZ</button>
		<button class="button" (click)="this.download('csv')" i18n-title title="Download data as gzipped CSV"><i class="icon-cloud-download"></i>CSV.GZ</button>
		<button class="button button-right" (click)="showDownloadDialog=false;" i18n>Cancel</button>
	</div>
	<div *ngIf="downloadRequested">
		<br/>
		<ng-container i18n>Download requested</ng-container> <i class="icon icon-spinner2 icon-rotate"></i>
		<br/>
		<br/>
		<button class="button" (click)="showDownloadDialog=false;" i18n>Cancel</button>
	</div>
</app-dialog>
