<div class="small-header-container">
	<ng-template *ngIf="false; else logoBlock"></ng-template>
	<div class="small-header-toggle">
		<a (click)="toggleMenu()" i18n>Menu</a>
	</div>
</div>
<div class="small-header-menu">
	<ng-template *ngIf="!menuActive; else menuSmallBlock"></ng-template>
</div>

<div class="large-header-container">
	<div class="header-left">
		<ng-template *ngIf="false; else logoBlock"></ng-template>
	</div>
	<div class="header-right" *ngIf="!isActiveStart()">
		<ng-template *ngIf="false; else menuBlock"></ng-template>
	</div>
	<div class="header-right header-hero container-outer" *ngIf="isActiveStart()">
		<ng-template *ngIf="false; else heroBlock"></ng-template>
	</div>
</div>
<div class="header-sub-container">
	<div class="small-header-hero header-hero container-outer" *ngIf="isActiveStart()">
		<ng-template *ngIf="false; else heroBlock"></ng-template>
	</div>
	<ul class="header-sub-nav" *ngIf="current && current.submenu.length>0">
		<li *ngFor="let item of current.submenu"><a [routerLinkActive]="['active']" [routerLink]="item.routerLink">{{item.title}}</a></li>
	</ul>
</div>

<ng-template #logoBlock>
	<div class="header-logo-block" [ngSwitch]="isRootPage">
		<ng-template [ngSwitchCase]="true">
			<a href="{{'/start' | portalLink}}"><ng-template *ngIf="false; else imageBlock"></ng-template></a>
		</ng-template>
		<ng-template [ngSwitchCase]="false">
			<a [routerLink]="['/start']"><ng-template *ngIf="false; else imageBlock"></ng-template></a>
		</ng-template>
	</div>
</ng-template>

<ng-template #imageBlock>
	<img class="header-logo-image header-logo-image-small" alt="Opentender" src="/assets/img/ot-logo-white.svg"/>
	<img class="header-logo-image header-logo-image-large" alt="Opentender" src="/assets/img/ot-logo.svg"/>
	<span class="header-logo-brand">
		<span class="header-logo-brand_name">opentender</span>
		<span class="header-logo-brand_country">{{country.name}}</span>
	</span>
</ng-template>

<ng-template #menuBlock>
	<ul class="header-nav">
		<li *ngFor="let item of menu"><a [class.active]="isActive(item.path)" [routerLink]="item.routerLink">{{item.title}}</a></li>
	</ul>
</ng-template>

<ng-template #menuSmallBlock>
	<ul class="header-nav">
		<li *ngFor="let item of menu"><a [class.active]="isActive(item.path)" [routerLink]="item.routerLink">{{item.title}}</a></li>
		<li><a href="{{'/start' | portalLink}}" i18n>Portal Overview</a></li>
	</ul>
</ng-template>

<ng-template #heroBlock>
	<h2 class="header-hero-title_text" i18n>Making Public Tenders More Transparent</h2>
	<p i18n>This platform is part of the <a target="_blank" rel="noopener" href="http://digiwhist.eu">DIGIWHIST project</a></p>
</ng-template>
