:host {
  .page-loading {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .page-error {
    text-align: center;
    color: red;
    font-size: 16px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
