<section class="container-outer authority entity" *ngIf="loading">
	<section class="container">
		<div class="entity-title">Corruption Risk Indicators</div>
		<div *ngIf="error">Error: {{error}}</div>
		<div *ngIf="!error">Loading...</div>
	</section>
</section>

<section class="container-outer authority entity" *ngIf="!loading">
	<section class="container">
		<div class="entity-title">Corruption Risk Indicators</div>
	</section>

	<section class="container container-margin">
		<h2>Corruption Risk Indicators</h2>

		<slider
				[min]="startYear"
				[max]="endYear"
				[startValue]="startYear"
				[endValue]="endYear"
				stepValue="1"
				defaultWidth="934"
				(onSliderChange)="onSliderChange($event)">
		</slider>

		<div class="container slab-beta-light container-padded-large">
			<div class="container">
				<div class="container-left-6">
					<div *ngIf="charts.lots_pc_in_years.visible">
						<div class="title">% of Contracts (Lots) with Corruption Risk Indicators per Year</div>
						<ngx-charts-bar-vertical
								class="chart-container"
								[chart]="charts.lots_pc_in_years.chart"
								[data]="charts.lots_pc_in_years.data"
								(select)="charts.lots_pc_in_years.select($event)"
								(legendLabelClick)="charts.lots_pc_in_years.onLegendLabelClick($event)">
						</ngx-charts-bar-vertical>
					</div>
					<br/>
					<div *ngIf="charts.indicators.visible">
						<div class="title">Structure of Corruption Risk Indicators</div>
						<ngx-charts-pie-chart
								class="chart-container"
								[chart]="charts.indicators.chart"
								[data]="charts.indicators.data"
								(legendLabelClick)="charts.indicators.onLegendLabelClick($event)"
								(select)="charts.indicators.select($event)">
						</ngx-charts-pie-chart>
					</div>
				</div>
				<div class="container-left-6" *ngIf="charts.cpvs_codes_average.visible">
					<div class="title">Average of Tenders with Corruption Risk Indicators per Sector</div>
					<ngx-charts-bar-horizontal
							class="chart-container"
							[chart]="charts.cpvs_codes_average.chart"
							[data]="charts.cpvs_codes_average.data"
							(select)="charts.cpvs_codes_average.select($event)"
							(legendLabelClick)="charts.cpvs_codes_average.onLegendLabelClick($event)">
					</ngx-charts-bar-horizontal>
				</div>
			</div>
	</section>
	<section class="container container-margin">
		<div class="container">
			<div class="container-left-6" *ngIf="vis.suppliers.length>0">
				<h2>Supplier</h2>
				<table class="tables">
					<tr>
						<th>Company</th>
						<th>Number of Flags</th>
					</tr>
					<tr *ngFor="let val of vis.suppliers">
						<td>
							<tender-body-line [body]="val.body" [link]="'/company/'+val.body.groupId"></tender-body-line>
						</td>
						<td>{{val.value| formatNumber}}</td>
					</tr>
				</table>
			</div>
			<div class="container-left-6" *ngIf="vis.buyers.length>0">
				<h2>Buyer</h2>
				<table class="tables">
					<tr>
						<th>Authority</th>
						<th>Number of Flags</th>
					</tr>
					<tr *ngFor="let val of vis.buyers">
						<td>
							<tender-body-line [body]="val.body" [link]="'/authority/'+val.body.groupId"></tender-body-line>
						</td>
						<td>{{val.value| formatNumber}}</td>
					</tr>
				</table>
			</div>
		</div>
	</section>

	<section class="container">
		<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" [title]="'Tenders'" (searchChange)="searchChange($event);"></tender-table>
	</section>
</section>
