<section class="container-outer authority entity" *ngIf="!company">
	<section class="container">
		<div class="entity-title">Company</div>
		<div *ngIf="error">Error: {{error}}</div>
		<div *ngIf="!error">Loading...</div>
	</section>
</section>

<section class="container-outer company entity" *ngIf="company">
	<section class="container">
		<div class="entity-title"><i class="icon-office"></i> Company</div>
		<div class="info-links">
			<div class="info-link-box">
				Read more about tender legislation<br>
				<a target="_blank" href="{{ country.name | europamLink}}"><i class="icon-new-tab"></i> EuroPAM</a>
			</div>
			<div class="info-link-box" *ngIf="country.foi">
				Find Freedom of Information requests at<br>
				<a target="_blank" href="{{ company.name | foiSearchLink: country }}"><i class="icon-new-tab"></i> {{country.foi.name}}</a>
			</div>
			<div class="info-link-box">
				Search this company at<br>
				<a target="_blank" href="http://openinterests.eu/entities?q={{ company.name | encodeURIComponent }}"><i class="icon-new-tab"></i> OpenInterests.eu</a><br>
				<a target="_blank" href="https://register.openownership.org/search?utf8=%E2%9C%93&q={{ company.name | encodeURIComponent }}"><i class="icon-new-tab"></i> OpenOwnership.org</a><br>
				<a target="_blank" href="http://farmsubsidy.openspending.org/search/?q={{ company.name | encodeURIComponent }}"><i class="icon-new-tab"></i> FarmSubsidy.org</a>
			</div>
		</div>
		<h1>{{company.name | nameGuard}}</h1>
		<tender-body-address [address]="company.address"></tender-body-address>

		<div *ngIf="similar.length > 0">
			<div class="similars">
				<div class="title">Similar Companies</div>
				<div class="similar" *ngFor="let sim of similar">
					<a [routerLink]="['/company/'+sim.body.groupId]" title="Click to jump to the company profile"><i class="icon-office"></i> </a>
					<a (click)="toggleSimilar(sim)" title="Click to {{search_similars[sim.body.groupId]?'exclude':'include'}} into view">{{search_similars[sim.body.groupId]?'-':'+'}} <span>{{sim.body.name | nameGuard}}</span></a>
				</div>
			</div>
			<div class="debug_groupids clickable" style="font-size: 0.8em">
				<div (click)="showDebugGroupIds = !showDebugGroupIds">[Click to show all groupId bodies - this function is only for debugging and will be removed in final portals]</div>
				<div *ngIf="showDebugGroupIds">
					<div class="similar">
						<a [routerLink]="['/company/'+company.groupId]" title="Click to jump to the company profile">Current</a>
						<pre>{{plain(company)}}</pre>
					</div>
					<div class="similar" *ngFor="let sim of similar; let i = index;">
						<a [routerLink]="['/company/'+sim.body.groupId]" title="Click to jump to the company profile">Similar {{i+1}}</a>
						<pre>{{plain(sim.body)}}</pre>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container container-margin">
		<h2>Indicators</h2>
		<div class="container container-padded-large">
			<div class="container">
				<div class="container-left-6">
					<graph histogram [data]="vis.lots_in_years"></graph><br/>
					<graph counts [data]="vis.counts"></graph><br/>
					<graph sum_prices [data]="vis.sums_finalPrice"></graph>
				</div>
				<div class="container-left-6">
					<graph sectors [data]="vis.cpvs_codes"></graph>
				</div>
			</div>
		</div>
	</section>

	<section class="container container-margin">
		<div class="container">
			<div class="container-left-6">
				<graph authorities [data]="vis.top_authorities"></graph>
			</div>
			<div class="container-left-6">
				<h2>Buyers by NUTS codes</h2>
				<graph nutsmap [data]="vis.authority_nuts" [level]="1"></graph>
			</div>
		</div>
	</section>

	<section class="container">
		<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" [title]="'Tenders'" (searchChange)="searchChange($event);"></tender-table>
	</section>
</section>
