<section class="container-outer authority entity" *ngIf="!region">
	<section class="container">
		<div class="entity-title">Region</div>
		<div>Loading…</div>
	</section>
</section>

<section class="container-outer sector entity" *ngIf="region">
	<section class="container">
		<div class="entity-title"><i class="icon-location icon-large"></i> Region</div>
		<h1>{{region.name}}</h1>
	</section>

	<div [ngClass]="{'is-loading': loading>0}">
		<section class="container">
			<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);"></tender-table>
		</section>
	</div>
</section>
