<breadcrumb [crumbs]="crumbs"></breadcrumb>
<loading [loading]="!region" [notFound]="notFound"></loading>
<div class="container-outer entity" *ngIf="region">
	<div class="container">
		<h1 class="container-title">{{region.name}} (NUTS {{region.id}})</h1>
	</div>
	<!--<div class="container container-padded-top" *ngIf="parent_regions.length>0">-->
		<!--<div class="title"><ng-container i18n>Parent Regions</ng-container>:</div>-->
		<!--<div *ngFor="let val of parent_regions"><a [routerLink]="['/region/'+val.id]">{{val.name}} (NUTS {{val.id}})</a></div>-->
	<!--</div>-->
	<div [ngClass]="{'is-loading': loading>0}">
		<div class="container container-margin">
			<div class="container">
				<div class="container-left-12" *ngIf="region.level>=3">
					<div class="graph-title" i18n>Nr. of Tenders in Region</div>
					<graph nutsmap [data]="viz.child_regions.data" [level]="region.level"></graph>
				</div>
				<div class="container-left-12" *ngIf="region.level<3">
					<div class="graph-title" i18n>Nr. of Tenders in Subregions</div>
					<graph nutsmap [data]="viz.child_regions.data" [level]="region.level+1"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph companies [data]="viz.top_companies.data" [title]="viz.top_companies.title"></graph>
				</div>
				<div class="container-left-6">
					<graph authorities [data]="viz.top_authorities.data" [title]="viz.top_authorities.title"></graph>
				</div>
			</div>
			<div class="container">
				<graph benchmarks [data]="viz.benchmarks.data" [title]="viz.benchmarks.title" [entityTitle]="region.name" [filters]="viz.benchmarks.filters" (filtersChange)="benchmarkFilterChange($event)"></graph>
			</div>
		</div>
		<div class="container">
			<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);"></tender-table>
		</div>
	</div>

</div>
