<div class="container-outer imprint">
	<div class="container">
		<h1 class="container-title" i18n>Donate</h1>
	</div>
	<div class="container">
		<p i18n>
			We work hard to keep Opentender going. We update regularly the database
			with public procurement data published newly on national portals and
			Tenders Electronic Daily, and we also improve data quality by fixing
			bugs and filling data gaps.
		</p>

		<p>
			You can support our work by donating a small
			amount which we will use to run our servers and update codes. With your
			donation, you can actively contribute to increasing transparency,
			integrity, and accountability in the public sector all across Europe.
		</p>
		<p>
			Thank you!
		</p>

		<div class="donate-donate-button">
			<h3>€ EUR</h3>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick" />
				<input type="hidden" name="hosted_button_id" value="WVMWGQM9HFTTN" />
				<input
					type="image"
					src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
					border="0"
					name="submit"
					title="PayPal - The safer, easier way to pay online!"
					alt="Donate with PayPal button" />
				<img alt="" border="0" src="https://www.paypal.com/en_HU/i/scr/pixel.gif" width="1" height="1"/>
			</form>
		</div>

		<div class="donate-donate-button">
			<h3>HUF</h3>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick" />
				<input type="hidden" name="hosted_button_id" value="FR3K8JAKE2FJW" />
				<input
					type="image"
					src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
					border="0"
					name="submit"
					title="PayPal - The safer, easier way to pay online!"
					alt="Donate with PayPal button" />
				<img alt="" border="0" src="https://www.paypal.com/en_HU/i/scr/pixel.gif" width="1" height="1"/>
			</form>
		</div>

		<div class="donate-donate-button">
			<h3>£ GBP</h3>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick" />
				<input type="hidden" name="hosted_button_id" value="53ZSVCNL2JZCJ" />
				<input
					type="image"
					src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
					border="0"
					name="submit"
					title="PayPal - The safer, easier way to pay online!"
					alt="Donate with PayPal button" />
				<img alt="" border="0" src="https://www.paypal.com/en_HU/i/scr/pixel.gif" width="1" height="1" />
			</form>
		</div>
	</div>
</div>
