<div class="container-outer about">
	<div class="container container-padded-bottom">
		<h1 class="container-title" i18n>About Opentender</h1>
	</div>
	<div class="container">
		<div class="container-left-12">
			<p i18n>Approximately 15% of the EU’s Gross Domestic Product is spent every year on procuring goods and services, and some estimates indicate that corruption increases the cost of government contracts by 20 - 25%. It is even more worrying that corruption in public procurement compromises widely supported public goals, such as building safe highways, high quality school buildings, or delivering medicine in time.</p>
			<p i18n>Providing comprehensive public procurement information free of charge in an easy-to-use format to all interested parties is expected to increase market transparency, decrease transaction costs, and facilitate government accountability. Hence, opentender.eu, a central, public, and open procurement platform has been set up to contribute to achieving value for money in public procurement as well as increase integrity throughout the public sector.</p>
		</div>
	</div>
	<div class="container">
		<h2 class="h3" id="partners" i18n>Who is Opentender?</h2>
		<div class="container">
			<div class="container-left-7">
				<h2 class="h4" id="digiwhist"><a target="_blank" rel="noopener" href="http://digiwhist.eu">Digiwhist</a></h2>
				<p i18n>DIGIWHIST, an EU Horizon 2020 funded project, brings together six European research institutes, with the aim of empowering society to combat public sector corruption. It will simultaneously increase trust in governments and improve efficiency of public spending across Europe through the systematic collection, structuring, analysis and dissemination of information on public procurement and on mechanisms that increase accountability of public officials in all EU and some neighbouring countries.</p>
			</div>
			<div class="container-right-5">
				<a target="_blank" rel="noopener" href="http://digiwhist.eu"><img class="partner-img" alt="Digiwhist" src="/assets/img/digiwhist-logo.png"></a>
			</div>
		</div>
		<div class="container">
			<div class="container-left-7">
				<h2 class="h4"><a target="_blank" rel="noopener" href="http://www.sociology.cam.ac.uk/">University of Cambridge, Department of Sociology</a></h2>
				<p i18n>The Department of Sociology at Cambridge has a distinctive profile as a centre of excellence for outstanding work in social theory and empirical sociological research. Sociology in Cambridge is also practised and taught in an interdisciplinary context, with particularly strong connections with politics, psychology, anthropology, economics and history.</p>
			</div>
			<div class="container-right-5">
				<a target="_blank" rel="noopener" href="http://www.sociology.cam.ac.uk/"><img class="partner-img" alt="University of Cambridge, Department of Sociology" src="/assets/img/cambridge-logo.png"></a>
			</div>
		</div>
		<div class="container">
			<div class="container-left-7">
				<h2 class="h4"><a target="_blank" rel="noopener" href="https://okfn.de">Open Knowledge Foundation Germany</a></h2>
				<p i18n>The Open Knowledge Foundation Deutschland (OKF DE) is the German Chapter of the international Open Knowledge Foundation Network (OKFN). It is an independent non-for-profit organisation founded in 2011 and dedicated to promoting open data and open content in all their forms – including public information, publicly funded research and public domain cultural content. It is an international leader in its field and has extensive experience in building tools and community around open material. OKF DE is a Think-and-Do Tank that combines legal expertise and technical know-how to advise government authorities and other organisations publish open data and to help potential re-users to engage with open data to create innovative new products and services. OKF DE works on technologies that enable greater transparency in public life and new spaces for citizen engagement.</p>
			</div>
			<div class="container-right-5">
				<a target="_blank" rel="noopener" href="https://okfn.de"><img class="partner-img" alt="Open Knowledge Foundation Germany" src="/assets/img/okfde-logo.svg"></a>
			</div>
		</div>
		<div class="container">
			<div class="container-left-7">
				<h2 class="h4"><a target="_blank" rel="noopener" href="http://www.govtransparency.eu/">Government Transparency Institute</a></h2>
				<p i18n>The Government Transparency Institute’s foundation in 2015 was motivated by growing need and opportunity to do independent research and advocacy on transparency, corruption and quality of government in Europe and beyond. The Institute is a non-partisan think tank independent of governments, political parties or special interest groups. The aim of the Institute is to systematically explore the causes, characteristics, and consequences of low quality of government in an inter-disciplinary approach drawing on political science, economics, law, and data science. The Institute aims to aid citizens to hold governments accountable through the publication of large datasets and robust analysis.</p>
			</div>
			<div class="container-right-5">
				<a href="http://www.govtransparency.eu/"><img class="partner-img" alt="Government Transparency Institute" src="/assets/img/gti-logo.png"></a>
			</div>
		</div>
		<div class="container">
			<div class="container-left-7">
				<h2 class="h4"><a target="_blank" rel="noopener" href="https://www.hertie-school.org/">Hertie School of Governance</a></h2>
				<p i18n>The Hertie School of Governance prepares exceptional students for leadership positions in government, business, and civil society. The School also offers experienced professionals the opportunity to deepen their skills in the field of public management. A renowned international faculty with expertise in economics, business, law, political and social science take an interdisciplinary, policy-oriented approach to the School’s teaching and research agenda.</p>
			</div>
			<div class="container-right-5">
				<a target="_blank" rel="noopener" href="https://www.hertie-school.org/"><img class="partner-img" alt="Hertie School of Governance" src="/assets/img/hsog-logo.svg"></a>
			</div>
		</div>
		<div class="container">
			<div class="container-left-7">
				<h2 class="h4"><a target="_blank" rel="noopener" href="http://www.datlab.cz/">Datlab</a></h2>
				<p i18n>Datlab is a Czech IT company which specializes in data extraction and processing jobs. As of 2015 it regularly processes data from 30 various websites and systems. It works closely with NGO sector and runs couple of several major opendata services, such as <a target="_blank" rel="noopener" href="http://vsechnyzakazky.cz">vsechnyzakazky.cz</a> (procurement database), <a target="_blank" rel="noopener" href="http://politickefinance.cz">politickefinance.cz</a> (political party financing monitor).</p>
			</div>
			<div class="container-right-5">
				<a target="_blank" rel="noopener" href="http://www.datlab.cz/"><img class="partner-img" alt="Datlab" src="/assets/img/datlab-logo.png"></a>
			</div>
		</div>
		<div class="container">
			<div class="container-left-7">
				<h2 class="h4"><a target="_blank" rel="noopener" href="http://www.transcrime.it/en">Università Cattolica del Sacro Cuore, Transcrime</a></h2>
				<p i18n>Transcrime is the Joint Research Centre on Transnational Crime of the Università Cattolica del Sacro Cuore of Milan and the University of Trento. It analyses strategies for preventing and combating crime adopting an integrated approach (criminology, law, statistics, economics, forensic accounting). In particular Transcrime analyses crime phenomena in the field of organised crime, financial crime, money laundering and corruption.</p>
			</div>
			<div class="container-right-5">
				<a target="_blank" rel="noopener" href="http://www.transcrime.it/en"><img class="partner-img" alt="Università Cattolica del Sacro Cuore, Transcrime" src="/assets/img/transcrime-logo.png"></a>
			</div>
		</div>
	</div>
</div>
