<div class="container-outer search">
	<div class="container">
		<h1 class="container-title" i18n>Search Tender</h1>
	</div>
	<div class="container container-padded-top container-padded-bottom">
		<div class="container">
			<search-box [search]="search" [filters]="filters" (onChange)="refresh()"></search-box>
		</div>
	</div>
</div>

<div class="container-outer container-padded-top-lite">
	<div class="container">
		<select-viz-button [viz]="viz" (selectChange)="onSelectViz($event)"></select-viz-button>
	</div>
	<div class="container">
		<graph *ngIf="viz.procedure_types.active" procedure-types [data]="viz.procedure_types.data" [title]="viz.procedure_types.title"></graph>
		<graph *ngIf="viz.cpvs_codes.active" sectors [data]="viz.cpvs_codes.data"></graph>
		<graph *ngIf="viz.histogram_finalPriceEUR.active" histogram [data]="viz.histogram_finalPriceEUR.data"></graph>
		<graph *ngIf="viz.distribution.active" benchmarks-distribution [data]="viz.distribution.data" [title]="viz.distribution.title"></graph>
	</div>
</div>

<div class="container-outer container-padded-top-lite">
	<div class="container">
		<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);" (columnsChange)="columnsChange($event);"></tender-table>
	</div>
</div>
