<section class="container-outer authority entity" *ngIf="loading">
	<section class="container">
		<div class="entity-title">{{indicator}}</div>
		<div *ngIf="error">Error: {{error}}</div>
		<div *ngIf="!error">Loading...</div>
	</section>
</section>

<section class="container-outer authority entity" *ngIf="!loading">

	<section class="container">
		<div class="entity-title">{{indicator}}</div>
	</section>

	<section class="container container-margin">
		<h2>{{indicator}}</h2>
		<div *ngIf="filter.time">
			<slider
					[min]="filter.time.startYear"
					[max]="filter.time.endYear"
					[startValue]="filter.time.startYear"
					[endValue]="filter.time.endYear"
					stepValue="1"
					defaultWidth="934"
					(onSliderChange)="onSliderChange($event)"></slider>
		</div>
	</section>
	<section class="container container-margin">
		<div class="container">
			<div class="container-left-6">
				<graph indicator-histogram [data]="viz.lots_in_years" [indicator]="indicator"></graph>
				<br/>
				<br/>
				<graph indicator-structure [data]="viz.terms_indicators" [indicator]="indicator"></graph>
			</div>
			<div class="container-left-6">
				<graph indicator-sectors [data]="viz.cpvs_codes" [indicator]="indicator"></graph>
			</div>
		</div>
	</section>

	<section class="container container-margin">
		<div class="container">
			<div class="container-left-6">
				<graph companies [data]="viz.top_companies"></graph>
			</div>
			<div class="container-left-6">
				<graph authorities [data]="viz.top_authorities"></graph>
			</div>
		</div>
	</section>

	<section class="container">
		<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" [title]="'Tenders'" (searchChange)="searchChange($event);"></tender-table>
	</section>

</section>
