<!doctype html>
<html lang="{{LANG}}">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>OpenTender Portal {{COUNTRY_NAME}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="OpenTender">
	<meta name="keywords" content="Open Data,Tender,Procurement">
	<meta name="author" content="OKFDE">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<base href="{{BASE_HREF}}">
	<link rel="stylesheet" type="text/css" href="/assets/style/style.css?{{RES_VERSION}}">
	<script>document.country = {{COUNTRY}};document.locale = "{{LANG}}";</script>
</head>
<body>
<app>
	Loading OpenTender...
</app>
<script src="/assets/js/polyfills.js?{{RES_VERSION}}"></script>
<script src="/assets/js/vendor.js?{{RES_VERSION}}"></script>
<script src="/assets/js/app.js?{{RES_VERSION}}"></script>
</body>
</html>
