<!doctype html>
<html lang="{{LANG}}">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title i18n>Opentender Portal {{COUNTRY_NAME}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Opentender">
	<meta name="keywords" content="Open Data,Tender,Procurement">
	<meta name="author" content="OKFDE">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicons/manifest.json">
	<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Opentender">
	<meta name="application-name" content="Opentender">
	<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<base href="{{BASE_HREF}}">
	<link rel="stylesheet" type="text/css" href="/assets/style/style.css?{{RES_VERSION}}">
	<script>document.opentender = {{OPENTENDER}};</script>
	<script type="text/javascript">
		if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
			document.write('<script src="/assets/js/polyfills_ie.js?{{RES_VERSION}}"><\/script>');
	</script>
</head>
<body>
<app id="app" i18n>Loading Opentender…</app>
<script src="/assets/js/polyfills.js?{{RES_VERSION}}"></script>
<script src="/assets/js/vendor.js?{{RES_VERSION}}"></script>
<script src="/assets/js/app.js?{{RES_VERSION}}"></script>
</body>
</html>
