<div class="header-left">
	<div class="header-logo">
		<a class="header-image_link" href="/start" *ngIf="isRootPage">
			<span class="header-image_wrapper">
				<img class="header-image" alt="Opentender" src="/assets/img/ot-logo.svg"/>
				<span class="header-image_desc">{{country.name}}</span>
			</span>
		</a>
		<a class="header-image_link" [routerLink]="['/start']" *ngIf="!isRootPage">
			<span class="header-image_wrapper">
				<img class="header-image" alt="Opentender" src="/assets/img/ot-logo.svg"/>
				<span class="header-image_desc">{{country.name}}</span>
			</span>
		</a>
	</div>
</div>
<nav class="header-right" *ngIf="router.url !== '/start'">
	<ul class="header-nav">
		<li class="header-nav_item"><a [class.active]="isActiveHome(router.url)" [routerLink]="['/']">Home</a></li>
		<li class="header-nav_item"><a [class.active]="isActive('dashboards', router.url)" [routerLink]="['/dashboards']">Dashboards</a></li>
		<li class="header-nav_item"><a [class.active]="isActive('search', router.url)"  [routerLink]="['/search/tender']">Search</a></li>
		<li class="header-nav_item"><a [class.active]="isActive('downloads', router.url)"  [routerLink]="['/downloads']">Download</a></li>
		<li class="header-nav_item"><a [class.active]="isActive('about', router.url)"  [routerLink]="['/about']">About</a></li>
	</ul>
</nav>
<nav class="header-right header-hero container-outer" *ngIf="router.url == '/start'">
	<h2 class="header-hero-title_text" i18n="Banner Slogan Main Page|The portal slogan">Making Public Tenders More Transparent</h2>
	<p>This platform is part of the <a href="http://digiwhist.eu">DIGIWHIST project</a></p>
</nav>
