<div class="graph-header">
	<div class="graph-title">Number of {{getEntitiesTitle()}} by Region</div>
	<div class="graph-toolbar">
		<button class="tool-button" [ngClass]="{down:!map_companies}" (click)="toggle()">Buyers</button>
		<button class="tool-button" [ngClass]="{down:map_companies}" (click)="toggle()">Suppliers</button>
		<span>&nbsp;</span>
		<button class="tool-button" [ngClass]="{down:map_level==1}" (click)="setLevel(1)">Level 1</button>
		<button class="tool-button" [ngClass]="{down:map_level==2}" (click)="setLevel(2)">Level 2</button>
		<button class="tool-button" [ngClass]="{down:map_level==3}" (click)="setLevel(3)">Level 3</button>
	</div>
</div>
<graph nutsmap [data]="map_data" [level]="map_level" [formatTooltip]="formatTooltip"></graph>
