<svg class="portal-map-svg" version="1.1" preserveAspectRatio="xMidYMid meet" viewBox="0 -140 884 800">
	<defs>
		<style type="text/css">
			.country {fill:gray; stroke: white;}
			.country.current {fill: #8bc08f; stroke: black;cursor: pointer;}
			.country.active {fill:#c9e9e7; stroke: #3b3b3b;}
			.country.active:hover {fill: #a6c0be;cursor: pointer;}
		</style>
	</defs>
	<g id="ne_50m_admin_0_countries">
		<g *ngFor="let g of svg">
			<g [id]="g.id" class="country">
				<circle *ngFor="let c of g.c" [attr.cy]="c.cy" [attr.cx]="c.cx" [attr.r]="c.r"></circle>
				<path *ngFor="let p of g.p" [attr.d]="p"></path>
			</g>
		</g>
	</g>
</svg>
