<div class="graph-header">
	<div class="graph-title" i18n>Number of {{getEntitiesTitle()}} by Region</div>
	<div class="graph-toolbar-container">
		<div class="graph-toolbar graph-toolbar-left">
			<button class="tool-button" [ngClass]="{down:!map_companies}" (click)="toggle()" i18n>Buyers</button>
			<button class="tool-button" [ngClass]="{down:map_companies}" (click)="toggle()" i18n>Suppliers</button>
		</div>
		<div class="graph-toolbar graph-toolbar-right">
			<button class="tool-button" [ngClass]="{down:map_level==1}" (click)="setLevel(1)" i18n>NUTS 1</button>
			<button class="tool-button" [ngClass]="{down:map_level==2}" (click)="setLevel(2)" i18n>NUTS 2</button>
			<button class="tool-button" [ngClass]="{down:map_level==3}" (click)="setLevel(3)" i18n>NUTS 3</button>
		</div>
	</div>
</div>
<graph nutsmap [data]="map_data" [level]="map_level" [formatTooltip]="formatTooltip"></graph>
