@import "../../../style/globals.scss";

:host {

  pre {
    font-size: 13px;
    line-height: 1.5em;
  }

  h4 {
    font-size: 0.8em;
    border-bottom: 1px solid $neutral-gray;
    margin-bottom: 6px;
    line-height: 1em;
    padding-bottom: 2px;
  }

  .container-padded-large {

    .container-left-4, .container-left-6, .container-left-8 {
      margin-bottom: 0;
      padding-bottom: 0;
      > h4:first-child {
        margin-top: 0;
      }
      div:first-child {
        > h4 {
          margin-top: 0;
        }
      }
    }

    .grid {
      h4 {
        margin-top: 0;
      }
    }
  }

  .info-foi {
    font-size: 0.8em;
    background-color: #e9e7a9;
    border-radius: 4px;
    padding: 3px 8px;
    border: 1px solid #e9e7a9;
  }

  .publication, .funding, .tabset-content {
    padding-left: 10px;
    border-left: 1px solid $neutral-gray;
  }

  .inline-info {
    text-align: right;
    h4 {
      padding: 0;
      margin: 0;
      margin-top: 4px !important;
      margin-right: 4px;
      float: left;
      border: none;
    }
  }

  .lot {
    margin-top: 14px;
    div {
      padding-bottom: 0;
    }
    h4 {
      margin-top: 0;
    }
  }
  .lot:first-of-type {
    margin-top: 0;
  }

  tender-price {
    span:first-of-type {
      font-size: 0.8em;
    }
    white-space: nowrap;
  }

  .margined-text {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    .grid-item-3 {
      flex-basis: 100%;
      max-width: 100%;
      @include respond-to(medium-up) {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
        padding: 0 0.5rem 1rem 0;
      }
      display: block;
    }
    .grid-item-2 {
      flex-basis: 100%;
      max-width: 100%;
      @include respond-to(medium-up) {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0 1rem 1rem 0;
      }
      display: block;
      //flex-direction: column;
      //position: relative;
    }
    .grid-item-1 {
      flex-basis: 100%;
      max-width: 100%;
      display: block;
    }
  }
  .download-fixed-height {
    max-height: 300px;
    overflow-y: auto;
    display: block;
    width: 100%;
  }
  .download-buttons {
    display: block;
    width: 100%;
    text-align: right;
  }

}
