<div class="container-outer search">
	<div class="container">
		<h1 class="container-title" i18n>Search Company</h1>
	</div>
	<div class="container container-padded-top container-padded-bottom">
		<div class="container">
			<search-box [search]="search" [filters]="search_filters" [quick_filters]="quick_filters" (onChange)="refresh()"></search-box>
		</div>
	</div>
	<div class="container container-padded-bottom">
		<div class="container">
			<filter-box [search]="search" [filters]="check_filters" (onChange)="refresh()"></filter-box>
		</div>
	</div>
</div>
<div class="container-outer container-padded-top-lite">
	<div class="container">
		<company-table [search_cmd]="search_cmd" [columnIds]="columnIds" [title]="title" (searchChange)="searchChange($event);" (columnsChange)="columnsChange($event);"></company-table>
	</div>
</div>
