<div class="search-filter-buttons">
	<select-search-button [filters_all]="filters" [filters_active]="active_filters" (selectChange)="onSelectSearch($event)"></select-search-button>
</div>
<div class="filter-box">
	<div class="filter" *ngFor="let s of search.searches; let i = index;" [ngClass]="getSearchFilterClass(i)">
		<span class="filter-close" (click)="closeSearch(s)"><i class="icon-cross"></i></span>
		<div [ngSwitch]="s.def.type">
			<autocomplete *ngSwitchCase="ISearchFilterDefType.text" [value]="s.value" [entity]="search.entity" [field]="s.def.field" [placeholder]="getPlaceholder(s)" (onSelect)="onSelectSearchEntry($event, s)"></autocomplete>
			<valueinput *ngSwitchCase="ISearchFilterDefType.value" [placeholder]="getPlaceholder(s)" (onSelect)="onSelectSearchValueEntry($event, s)"></valueinput>
		</div>
	</div>
</div>
<div class="filter-box">
	<div class="filter" *ngFor="let filter of search.filters; let i = index;" [ngClass]="getFilterClass(i)">
		<div *ngIf="filter.active" [ngSwitch]="filter.def.type">
			<div class="title">{{filter.def.group | i18n}}: {{filter.def.name | i18n}} <span class="filter-close" (click)="closeFilter(filter)"><i class="icon-cross"></i></span></div>
			<div class="text" *ngSwitchCase="ISearchFilterDefType.text">
				<div class="filter-checks">
					<div *ngFor="let bucket of filter.buckets">
						<label class="checkbox">
							<input type="checkbox" [(ngModel)]="filter.enabled[bucket.key]" (ngModelChange)="triggerChange(bucket.key)">
							<div class="checkbox-columns">
								<span class="checkbox-column">
									<span class="value" title="{{getValueTitle(bucket,filter)}}">{{getValueTitle(bucket,filter)}}</span>
									<span class="count">{{bucket.doc_count | formatNumber}}</span>
								</span>
							</div>
						</label>
					</div>
				</div>
			</div>
			<div class="select" *ngSwitchCase="ISearchFilterDefType.select">
				<div *ngFor="let bucket of filter.buckets">
					<label class="checkbox">
						<input type="checkbox" [(ngModel)]="filter.enabled[bucket.key]" (ngModelChange)="triggerChange(bucket.key)">
						<div class="checkbox-columns">
							<span class="checkbox-column">
								<span class="value" title="{{getValueTitle(bucket,filter)}}">{{getValueTitle(bucket,filter)}}</span>
								<span class="count">{{bucket.doc_count | formatNumber}}</span>
							</span>
						</div>
					</label>
				</div>
			</div>
			<div class="select" *ngSwitchCase="ISearchFilterDefType.bool">
				<div *ngFor="let state of [1,0]">
					<label class="checkbox">
						<input type="radio" [value]="state" [(ngModel)]="filter.value" (ngModelChange)="triggerChange()">
						<div class="checkbox-columns">
							<span class="checkbox-column">
								<span class="value" title="{{getValueTitle({key:state},filter)}}">{{getValueTitle({key:state},filter)}}</span>
								<!--<span class="count">{{filter.buckets&&filter.buckets[state]?filter.buckets[state].doc_count:0 | formatNumber}}</span>-->
							</span>
						</div>
					</label>
				</div>
			</div>
			<div class="range" *ngSwitchCase="ISearchFilterDefType.years">
				<select-year-range-filter [filter]="filter" [buckets]="filter.buckets" (onRangeChange)="triggerChange()"></select-year-range-filter>
			</div>
			<div class="range" *ngSwitchCase="ISearchFilterDefType.range">
				<select-score-range-filter [filter]="filter" [buckets]="filter.buckets" (onRangeChange)="triggerChange()"></select-score-range-filter>
			</div>
			<div class="range" *ngSwitchCase="ISearchFilterDefType.date">
				<select-date-filter [filter]="filter" [buckets]="filter.buckets" (onChange)="triggerChange()"></select-date-filter>
			</div>
		</div>
	</div>
</div>
