<div class="container-outer search">
	<div class="container">
		<h1 class="container-title" i18n>Search Authority</h1>
	</div>
	<div class="container container-padded-top container-padded-bottom">
		<div class="container">
			<search-box [search]="search" [filters]="filters" (onChange)="refresh()"></search-box>
		</div>
	</div>
</div>
<div class="container-outer container-padded-top-lite">
	<div class="container">
		<authority-table [search_cmd]="search_cmd" [columnIds]="columnIds" [title]="title" (searchChange)="searchChange($event);" (columnsChange)="columnsChange($event);"></authority-table>
	</div>
</div>
