<section class="container-outer authority entity" *ngIf="!authority">
	<section class="container">
		<div class="entity-title">Authority</div>
		<div>Loading…</div>
	</section>
</section>

<section class="container-outer authority entity" *ngIf="authority">
	<section class="container">
		<div class="entity-title"><i class="icon-library"></i> Authority</div>
		<div class="info-links">
			<div class="info-link-box">
				Read more about tender legislation<br>
				<a target="_blank" rel="noopener" href="{{ country.name | europamLink}}"><i class="icon-new-tab"></i> EuroPAM</a>
			</div>
			<div class="info-link-box" *ngIf="country.foi">
				Find Freedom of Information requests<br>
				<a target="_blank" rel="noopener" href="{{ authority.name | foiSearchLink: country }}"><i class="icon-new-tab"></i> {{country.foi.name}}</a>
			</div>
			<div class="info-link-box">
				Search this authority at<br>
				<a target="_blank" rel="noopener" href="http://openinterests.eu/entities?q={{ authority.name | encodeURIComponent }}"><i class="icon-new-tab"></i> OpenInterests.eu</a><br>
				<a target="_blank" rel="noopener" href="http://farmsubsidy.openspending.org/search/?q={{ authority.name | encodeURIComponent }}"><i class="icon-new-tab"></i> FarmSubsidy.org</a>
			</div>
		</div>
		<h1>{{authority.name}}</h1>
		<tender-body-address [address]="authority.address"></tender-body-address>

		<div *ngIf="similar.length > 0">
			<div class="similars">
				<div class="title">Similar Authorities</div>
				<div class="similar" *ngFor="let sim of similar">
					<a [routerLink]="['/authority/'+sim.body.groupId]" i18n-title title="Click to jump to the authority profile"><i class="icon-library"></i> </a>
					<a (click)="toggleSimilar(sim)" title="Click to {{search_similars[sim.body.groupId]?'exclude':'include'}} into view">{{search_similars[sim.body.groupId]?'-':'+'}} <span>{{sim.body.name | nameGuard}}</span></a>
				</div>
			</div>
			<div class="debug_groupids clickable" style="font-size: 0.8em">
				<div (click)="showDebugGroupIds = !showDebugGroupIds">[Click to show all groupId bodies - this function is only for debugging and will be removed in final portals]</div>
				<div *ngIf="showDebugGroupIds">
					<div class="similar">
						<a [routerLink]="['/authority/'+authority.groupId]" i18n-title title="Click to jump to the authority profile">Current</a>
						<pre>{{plain(authority)}}</pre>
					</div>
					<div class="similar" *ngFor="let sim of similar; let i = index;">
						<a [routerLink]="['/authority/'+sim.body.groupId]" i18n-title title="Click to jump to the authority profile">Similar {{i+1}}</a>
						<pre>{{plain(sim.body)}}</pre>
					</div>
				</div>
			</div>
		</div>

	</section>

	<div [ngClass]="{'is-loading': loading>0}">
		<section class="container container-margin">
			<div class="container">
				<div class="container-left-6">
					<graph histogram [data]="viz.lots_in_years"></graph>
				</div>
				<div class="container-left-6">
					<graph sectors [data]="viz.cpvs_codes"></graph>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="container-left-6">
					<graph companies [data]="viz.top_companies"></graph>
				</div>
				<div class="container-left-6">
					<graph suppliernutsmap [data]="viz.company_nuts"></graph>
				</div>
			</div>
			<br>
		</section>
		<!--<section class="container">-->
		<!--<graph sum_prices [data]="viz.sums_finalPrice"></graph>-->
		<!--<br/>-->
		<!--<graph counts [data]="viz.counts"></graph>-->
		<!--<br/>-->
		<!--</section>-->

		<section class="container">
			<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" [title]="'Tenders'" (searchChange)="searchChange($event);"></tender-table>
		</section>
	</div>

</section>
