<app-dialog [title]="title" [(visible)]="showDialog">
	<div class="select-filters">
		<div *ngFor="let group of groups" class="select-filters-group">
			<div class="select-filters-group-title">{{group.name}}</div>
			<div *ngFor="let info of group.filters" class="select-filter-item">
				<a *ngIf="info.isSearch" class="clickable" (click)="update(info.filter, true)"><i class="icon-plus-circle"></i>{{info.filter.name | i18n}}</a>
			</div>
			<div *ngFor="let info of group.filters" class="select-filter-item">
				<label class="checkbox" *ngIf="info.isFilter">
					<input type="checkbox" [(ngModel)]="info.active" (ngModelChange)="update(info.filter, false)">
					{{info.filter.name | i18n}}
				</label>
			</div>
		</div>
	</div>
</app-dialog>
<div class="dialog-button" (click)="showDialog = !showDialog">
	<div class="dialog-button_inner">
		<p class="dialog-button_description" i18n>Filter</p>
		<p class="dialog-button_text" i18n>Click to Select</p>
	</div>
</div>
