<div class="slab-hero slab-top">
	<div class="container-outer">
		<div class="container-left-10 hero">
			<h2 class="hero-title_text" i18n="Banner Slogan Main Page|The portal slogan">Making Public Tenders More Transparent</h2>
			<p>
				<ng-container i18n>Welcome to the portal for {{countryname}}!</ng-container>
				<br/>
				<ng-container i18n>This platform is part of the <a target="_blank" rel="noopener" href="http://digiwhist.eu">DIGIWHIST project</a></ng-container>
				<br>
				<ng-container i18n>Subscribe to our <a href="https://opentender.us12.list-manage.com/subscribe/post?u=961461fc5e4bda742e2ffb764&id=896595d352" target="_blank" rel="noopener" >mailing list</a></ng-container>
			</p>
		</div>
		<div class="container-right-2">
		</div>
	</div>
</div>

<div class="container-padded">
	<div class="container-outer">
		<div class="europam">
			<ng-container i18n>Read more about tender legislation at</ng-container><br/>
			<a target="_blank" rel="noopener" href="{{ country.id | europamLink}}"><img class="img-europam" alt="EuroPAM" src="/assets/img/europam-logo.png"></a><br/>
		</div>
		<br/>
		<div>
			<graph home-histogram [data]="viz.lots_in_years.data"></graph>
		</div>
		<div>
			<home-nutsmap></home-nutsmap>
		</div>
	</div>
</div>

<div class="slab-beta-dark container-padded">
	<div class="container-outer">
		<div class="container-left-12">
			<h4 i18n>You can select between different ways of interacting with the data using these tiles. They are interconnected so the same full data depth can be accessed in different ways.</h4>
		</div>
		<div class="container-left-12">
			<article class="card">
				<a class="card-image_link" [routerLink]="['/dashboards/market-analysis']" i18n-title title="Market Analysis">
					<div class="card-image-placeholder card-image-placeholder-2">
						<i class="icon-hammer"></i>
					</div>
				</a>
				<div class="card-content">
					<p class="card-content-subhead" i18n>Data overview</p>
					<a [routerLink]="['/dashboards/market-analysis']" i18n-title title="Market Analysis"><h3 class="card-title" i18n>Market Analysis</h3></a>
					<p i18n>This dashboard provides overview of public procurement markets, helping buyers and bidders to tender more effectively.</p>
				</div>
			</article>
			<article class="card">
				<a class="card-image_link" [routerLink]="['/search']" i18n-title title="Search">
					<div class="card-image-placeholder card-image-placeholder-1">
						<i class="icon-search"></i>
					</div>
				</a>
				<div class="card-content">
					<p class="card-content-subhead" i18n>Search and Find</p>
					<a [routerLink]="['/search']" i18n-title title="Search"><h3 class="card-title" i18n>Search</h3></a>
					<p i18n>In this section you can search in the data by criteria of your interest. The results are downloadable for detailed examination.</p>
				</div>
			</article>
			<article class="card">
				<a class="card-image_link" [routerLink]="['/download']" i18n-title title="Download">
					<div class="card-image-placeholder card-image-placeholder-3">
						<i class="icon-database"></i>
					</div>
				</a>
				<div class="card-content">
					<p class="card-content-subhead" i18n>Download data</p>
					<a [routerLink]="['/download']" i18n-title title="Download"><h3 class="card-title" i18n>Download</h3></a>
					<p i18n>Want to work with the data? You can download all the data this page is built on.</p>
				</div>
			</article>
			<article class="card">
				<a class="card-image_link" [routerLink]="['/dashboards/administrative-capacity']" i18n-title title="Indicators">
					<div class="card-image-placeholder card-image-placeholder-6">
						<i class="icon-trophy"></i>
					</div>
				</a>
				<div class="card-content">
					<p class="card-content-subhead" i18n>Indicators</p>
					<a [routerLink]="['/dashboards/administrative-capacity']" i18n-title title="Indicators"><h3 class="card-title" i18n>Administrative Capacity</h3></a>
					<p i18n>This dashboard allows you to analyse and benchmark buyers' administrative capacity.</p>
				</div>
			</article>
			<article class="card">
				<a class="card-image_link" [routerLink]="['/dashboards/transparency']" i18n-title title="Transparency">
					<div class="card-image-placeholder card-image-placeholder-4">
						<i class="icon-checkmark"></i>
					</div>
				</a>
				<div class="card-content">
					<p class="card-content-subhead" i18n>Indicators</p>
					<a [routerLink]="['/dashboards/transparency']" i18n-title title="Transparency"><h3 class="card-title" i18n>Transparency</h3></a>
					<p i18n>This dashboard allows you to analyse and benchmark the degree of transparency in public procurement tenders.</p>
				</div>
			</article>
			<article class="card">
				<a class="card-image_link" [routerLink]="['/dashboards/integrity']" i18n-title title="Integrity">
					<div class="card-image-placeholder card-image-placeholder-5">
						<i class="icon-flag"></i>
					</div>
				</a>
				<div class="card-content">
					<p class="card-content-subhead" i18n>Indicators</p>
					<a [routerLink]="['/dashboards/integrity']" i18n-title title="Integrity"><h3 class="card-title" i18n>Integrity</h3></a>
					<p i18n>This dashboard allows you to analyse and benchmark public procurement integrity risks.</p>
				</div>
			</article>
		</div>
	</div>
</div>

<div class="container-padded home-info">
	<h3 i18n>Not sure where to go? Start&nbsp;here&nbsp;…</h3>
	<h3><a [routerLink]="['/about/about-opentender']" i18n-title title="About Opentender">
		<ng-container i18n>Learn what this is about</ng-container>
		<span class="icon-chevron-thin-right icon-pull-down icon-padded"></span></a>
	</h3>
</div>

<div class="slab-beta-dark container-padded home-mailing-list">
	<div class="container-outer">
		<div class="container-left-12">
			<div id="mc_embed_signup">
				<h3 i18n>Subscribe to our mailing list</h3>
				<form action="https://opentender.us12.list-manage.com/subscribe/post?u=961461fc5e4bda742e2ffb764&amp;id=896595d352" method="post" id="mc-embedded-subscribe-form" rel="noopener" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<input class="email form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" i18n-placeholder placeholder="Email address" required>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_961461fc5e4bda742e2ffb764_896595d352" tabindex="-1" value=""></div>
						<div class="clear-block"><input type="submit" i18n-value value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
