@import "../../../style/globals.scss";

:host {
  .home-info {
    text-align: center;
    padding-left: $base-padding;
    padding-right: $base-padding;
  }

  .card {
    @include span-columns(12);

    background-color: $white;
    border-radius: 5px;
    height: auto;
    margin-bottom: $base-padding;
    position: relative;

    @include respond-to(small-to-large) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include respond-to(medium-up) {
      height: 260px;
    }

    @include respond-to(large-up) {
      @include span-columns(4);
      @include omega(3n);
    }
  }

  .card-image-placeholder {
    display: block;
    height: 70px;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    i {
      font-size: 40px;
      color: white;

    }
  }

  $colors-list: #166496 #4BC2A5 #b1d9f4 #8e9d63 #facf9c #80aa6a;
  @for $i from 1 through length($colors-list) {
    .card-image-placeholder-#{$i} {
      background-color: nth($colors-list, $i);
      i {
        color: lighten(nth($colors-list, $i), 10%);
      }
    }
  }

  img.card-image, .card-image-placeholder {
    border-bottom: 4px solid $light-gray;
    border-radius: 5px 5px 0 0;
    width: 100%;

    &:hover,
    &:focus {
      border-bottom: 4px solid #0e9720;
    }
  }

  .card-image_link {
    border: none;

    &:hover,
    &:focus {
      text-decoration: none;
      border: none;
    }
  }

  .card-content {
    padding: $base-padding;
    padding-top: 0;
    p {
      @include heading(para-md);
      color: $dark-gray;
      line-height: 1.6;
    }

    .card-content-subhead {
      color: $dark-gray;
      font-weight: $weight-light;
      margin-bottom: ($base-padding-lite / 2);
    }

    @include respond-to(medium-up) {
      p {
        @include heading(para-sm);
      }
    }
  }

  .card-title {
    @include heading(para-md);
    color: $blue;
    font-weight: $weight-bold;
    line-height: 1.3;
    margin-bottom: $base-padding-lite;
  }

  .card-link {
    bottom: $base-padding;
    position: absolute;
  }

  .hero {
    padding-bottom: $base-padding-giant;
    padding-right: $base-padding-large;
    padding-top: $base-padding-giant;

    h3 {
      @include font-size(1.375);
      font-weight: $weight-light;
    }
  }

  .hero-title_text {
    @include font-size(2);
    margin-top: 0;
  }

  .europam {
    text-align: center;
    .img-europam {
      vertical-align: middle;
      height: 38px;
      &:hover {
        border: 1px solid $base-border-color;
      }
    }
  }

  /* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

  .home-mailing-list {
    margin-bottom: -14px;
    padding-bottom: 64px;

    h3 {
      text-align: center;
    }
    form {
      text-align: center;
      padding: 10px 0 10px 0;
    }
    .mc-field-group {
      display: inline-block;
    }
    /* positions input field horizontally */
    input.email {
      font-size: 15px;
      border: 1px solid #ABB0B2;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: #343434;
      background-color: #fff;
      box-sizing: border-box;
      height: 32px;
      padding: 0px 0.4em;
      display: inline-block;
      margin: 0;
      width: 350px;
      vertical-align: top;
      &::placeholder {
        color: #8e8e8e;
      }
    }
    .clear-block {
      display: inline-block;
    }
    /* positions button horizontally in line with input */
    .button {
      font-size: 13px;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      letter-spacing: .03em;
      color: #fff;
      background-color: #aaa;
      box-sizing: border-box;
      height: 32px;
      line-height: 32px;
      padding: 0 18px;
      display: inline-block;
      margin: 0;
      transition: all 0.23s ease-in-out 0s;
    }
    .button:hover {
      background-color: #777;
      cursor: pointer;
    }
    div#mce-responses {
      float: left;
      top: -1.4em;
      padding: 0em .5em 0em .5em;
      overflow: hidden;
      width: 90%;
      margin: 0 5%;
      clear: both;
    }
    div.response {
      margin: 1em 0;
      padding: 1em .5em .5em 0;
      font-weight: bold;
      float: left;
      top: -1.5em;
      z-index: 1;
      width: 80%;
    }
    #mce-error-response {
      display: none;
    }
    #mce-success-response {
      color: #529214;
      display: none;
    }
    label.error {
      display: block;
      float: none;
      width: auto;
      margin-left: 1.05em;
      text-align: left;
      padding: .5em 0;
    }
    @media (max-width: 768px) {
      input.email {
        width: 100%;
        margin-bottom: 5px;
      }
      .clear {
        display: block;
        width: 100%
      }
      .button {
        width: 100%;
        margin: 0;
      }
    }
  }

}
