<div class="container-outer dashboard">

	<div class="container">
		<h1 class="container-title">{{title}}</h1>
	</div>
	<div class="container container-margin">
		<div class="container-left-12">
			<select-year-range [years]="viz.scores.years.data" (onRangeChange)="onYearRangeSliderChange($event)"></select-year-range>
		</div>
		<div class="form-group">
			<label for="subindicator" i18n>Sub-Indicators</label>
			<select class="form-control form-subindicator" id="subindicator" [(ngModel)]="selected" (change)="selectChange($event)">
				<option [ngValue]="null">[<ng-container i18n>All sub-indicators</ng-container>]</option>
				<option *ngFor="let sub of subindicators" [ngValue]="sub">{{sub.name}}</option>
			</select>
			<div *ngIf="!selected && subindicators.length>1" class="dialog-button" (click)="toggleDialog()">
				<div class="dialog-button_inner">
					<p class="dialog-button_description" i18n>Composite Score</p>
					<p class="dialog-button_text" i18n>Adjust Weights</p>
				</div>
			</div>
		</div>
	</div>
	<div [ngClass]="{'is-loading': loading>0}">
		<div class="container">
			<div class="container-left-12">
				<div class="graph-title" i18n>Average Score of {{indicatorTitle}}</div>
			</div>
			<div class="container-left-3">
				<graph score-grid [data]="viz.scores.score.data"></graph>
			</div>
			<div class="container-left-9">
				<graph indicator-structure [data]="viz.scores.terms_indicators_score.data" [weights]="filterWeights" (onSelect)="selectIndicatorChange($event)" [glossary]="'#'+(selected?selected.id:indicator.id)"></graph>
			</div>
		</div>
		<div class="container">
			<div class="container-left-6">
				<graph score-histogram [data]="viz.scores.score_in_years.data" [title]="viz.scores.score_in_years.title" [glossary]="'#'+(selected?selected.id:indicator.id)"></graph>
			</div>
			<div class="container-left-6">
				<graph score-sectors [data]="viz.scores.score_in_sectors.data" [title]="viz.scores.score_in_sectors.title"></graph>
			</div>
		</div>
	</div>
	<div class="container container-margin">
		<div class="container-left-12">
			<label i18n>Score Range</label>
			<slider
					[min]="0"
					[max]="100"
					[startValue]="0"
					[endValue]="50"
					stepValue="10"
					defaultWidth="934"
					(onSliderChange)="onScoreSliderChange($event)"></slider>
		</div>
	</div>

	<div [ngClass]="{'is-loading': loading>0}">

		<div class="container container-margin">
			<div class="container">
				<div class="container-left-6">
					<graph indicator-histogram [data]="viz.ranges.lots_in_years.data" [title]="viz.ranges.lots_in_years.title"></graph>
				</div>
				<div class="container-left-6">
					<graph indicator-sectors [data]="viz.ranges.cpvs_codes.data" [title]="viz.ranges.cpvs_codes.title"></graph>
				</div>
			</div>
			<br/>
			<div class="container">
				<div class="container-left-6">
					<graph companies [data]="viz.ranges.top_companies.data" [title]="viz.ranges.top_companies.title"></graph>
				</div>
				<div class="container-left-6">
					<graph authorities [data]="viz.ranges.top_authorities.data" [title]="viz.ranges.top_authorities.title"></graph>
				</div>
			</div>
		</div>
		<div class="container">
			<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);"></tender-table>
		</div>
	</div>
</div>

<app-dialog i18n-title title="Adjust Composite Score Weights" [(visible)]="showDialog">
	<div class="weight-selects" style="">
		<div class="weight-select" *ngFor="let weight of weights">
			<div class="weight-name">{{weight.indicator.name}}</div>
			<div>
				<div class="weight-slider">
					<slider
							[singleHandle]="true"
							[min]="0"
							[max]="10"
							[startValue]="0"
							[endValue]="weight.value"
							[stepValue]="1"
							[defaultWidth]="200"
							[compact]="true"
							[hideTicks]="true"
							(onSliderChange)="onWeightSliderChange($event, weight)">
					</slider>
				</div>
				<div class="weight-value">
					{{weight.value/10}}
				</div>
			</div>
		</div>
	</div>
	<div class="tables-buttons">
		<button class="tool-button" (click)="this.applyWeights()" i18n-title title="Apply Weights">Apply</button>
		<button class="tool-button" (click)="this.resetWeights()" i18n-title title="Reset Weights">Reset</button>
	</div>

</app-dialog>
