<div class="date-input-wrapper">
	<div class="date-mode-button button button-secondary" (click)="toggleMode()">{{mode}}</div>
	<my-date-picker [options]="myDatePickerOptions" [(ngModel)]="model" (dateChanged)="onDateChanged($event)"></my-date-picker>
</div>
<div>
	<label class="checkbox">
		<input [value]="'<'" type="radio" [(ngModel)]="mode" (change)="handleModeChange($event)">
		<div class="checkbox-columns"><span class="checkbox-column"><span class="value">before</span></span></div>
	</label>
</div>
<div>
	<label class="checkbox">
		<input [value]="'>'" type="radio" [(ngModel)]="mode" (change)="handleModeChange($event)">
		<div class="checkbox-columns"><span class="checkbox-column"><span class="value">after</span></span></div>
	</label>
</div>
<div>
	<label class="checkbox">
		<input [value]="'='" type="radio" [(ngModel)]="mode" (change)="handleModeChange($event)">
		<div class="checkbox-columns"><span class="checkbox-column"><span class="value">same day</span></span></div>
	</label>
</div>
