@import "../../../style/globals.scss";

:host {

  .search-filter-buttons {
    text-align: right;
    .button {
      margin: 0 6px 6px 0;
      font-size: 0.8em;
      background-color: $primary-button-bg-color;
      @include transition (all 0.2s ease-in-out);
      &:hover {
        background-color: darken($primary-button-bg-color, 1%);
      }
    }
    i {
      font-size: 0.9em;
      margin-right: 3px;
    }
  }

}
