:host {

	.tables-fixed-height {
		max-height: 300px;
		overflow-y: auto;
		display: block;
		width: 100%;

		tbody {
			tr {
				td {
					padding: 2px 2px;
					font-size: 0.8em;
				}
				td:last-of-type {
					text-align: right;
				}
			}
		}
	}


	.tables-buttons {
		display: block;
		width: 100%;
		text-align: right;
	}

	.gradient_legend {
		margin-top: 3px;
		font-size: 10px;
		float: left;
		svg {
			margin-top: 2px;
		}
		span {
			vertical-align: top;
		}
	}

}
