@import "../../../../style/globals.scss";

:host {

  .similars {
    vertical-align: top;
    margin-bottom: 10px;

  }

  .similars-list {
    max-height: 200px;
    overflow: auto;
    vertical-align: top;
    line-height: 1.1em;
    border: 1px solid #ebebeb;
  }

  .similars-tools {
    font-size: 0.7em;
  }

  .similar {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
    @include respond-to(medium-up) {
      width: 45%;
    }

    .similar-form {
      display: block;
      padding: 1px 2px;
      margin-left: 44px;
      text-indent: -43px;
    }

    label {
      display: inline;
      font-size: 0.8em;
      margin-bottom: 0;
      input {
        float: inherit;
        display: inline-block;
      }
    }

    a {
      display: inline;
      font-size: 0.8em;
      margin-left: 3px;
    }
  }

}
