<div class="container-outer imprint">
	<div class="container">
		<h1 class="container-title" i18n>Imprint</h1>
	</div>
	<div class="container">
		<h2 class="h3" id="contact" i18n>Contact</h2>
		<h4 i18n>Digiwhist Project Coordination</h4>
		<p>
			<span class="icon-mail2"></span> <a href="mailto:digiw@hermes.cam.ac.uk">digiw@hermes.cam.ac.uk</a><br>
			Department of Sociology, University of Cambridge<br>
			Free School Lane, Cambridge CB2 3RQ, UK
		</p>
	</div>
	<div class="container">
		<h2 class="h3" id="legal" i18n>Legal Notice</h2>
		<p>
			Government Transparency Institute (GTI)<br>
			Hungary<br>
			<br>
			VAT nr:  HU24821353.<br>
			Company registry nr:  03-09-128982<br>
			<br>
			<span class="icon-mail2"></span> <a href="mailto:{{contactmail}}">{{contactmail}}</a><br>
		</p>
		<h4 i18n>Referrals and Links</h4>
		<p i18n>GTI is not responsible for any contents linked or referred to from these pages. If any damage occurs by the use of information presented there, only the author of the respective pages might be liable, not the one who has linked to these pages.</p>
		<h4 i18n>Disclaimer</h4>
		<p i18n>The information and views set out on this website are those of the author(s) only and do not reflect any collection opinion of the DIGIWHIST consortium, nor do they reflect the official opinion of the European Commission. Neither the European Commission nor any Person acting on behalf of the European Commission is responsible for the use which might be made of the Information published on this website.</p>
		<p i18n>All content by Digiwhist on this website is licensed under <a target="_blank" rel="noopener" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0.</a></p>
	</div>
	<div class="container">
		<h2 class="h3" id="privacy" i18n>Privacy Policy</h2>
		<p i18n>GTI is pleased that you are visiting our website and that you are interested in the Horizon 2020 DIGIWHIST project. We take the protection of your personal data very seriously and adhere strictly to the provisions of current data privacy laws.</p>
		<p i18n>(e.g. "Act CXII of 2011 on the Right to Informational Self-determination and Freedom of Information (DPA)")</p>
		<p i18n>The following policy provides you with insight into how we guarantee this protection and which kind of data we collect for which purpose.</p>
		<h3 i18n>1. Pseudonymous data collection</h3>
		<p i18n>In most cases you can visit Opentender.eu website without us requiring you to provide personal data.</p>
		<p i18n>The log files on our web server collect the following data:</p>
		<ul>
			<li i18n>IP address</li>
			<li i18n>date, time</li>
			<li i18n>page visited, referrer</li>
			<li i18n>browser</li>
			<li i18n>operating system</li>
		</ul>
		<p i18n>These data are available for statistical purposes analyses, the raw data is deleted by our web hosting company on a monthly basis.</p>

		<h3 i18n>2. Collection and processing of personal data</h3>
		<p i18n>Personal data are only collected based on the current applicable regulations. Beyond this, your data are only used for the purposes of advertising and market research, also to tailor our electronic services to meet current needs, if you have provided us with your prior consent. Of course, you are entitled to revoke any consent that you provide – either wholly or partially – at any time, effective for the future.</p>

		<h3 i18n>3. Export and processing of the data in states outside of the European Economic Area (EEA)</h3>
		<p i18n>No data is exported or processes outside the European Economic Area</p>

		<h3 i18n>4. Cookies and website tracking</h3>
		<p i18n>We use web analysis systems on this website, intended to measure and analyse visits to our website. We use your IP address with purpose of collecting data, among other things on Internet traffic, your browser and your computer.</p>
		<p i18n>We do not use the IP address or cookies to identify you personally. We use the web analysis system with the purpose of increasing efficiency on our website.</p>
		<p i18n>Most browsers automatically accept cookies. However, you can prevent this happening manually by changing the settings in your browser to ensure that cookies are no longer accepted. Please find details in this respect in the instructions provided by the manufacturer of your browser.</p>

		<h3 id="piwik" i18n>5. Permanent cookies/third-party cookies</h3>
		<p i18n>This website uses Piwik, an open-source web analytics service. Piwik uses “cookies”, which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address truncated by the last octet prior to its storage using the “_anonymizeIp()” method) will be transmitted to and stored on our servers in Germany. We will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage.</p>

		<h3 i18n>7. External links</h3>
		<p i18n>We seek to provide you with the best possible information. This is why you will find on our website links that refer to pages owned by third parties. Unless it is perfectly obvious, we draw your attention to the fact that these are external links. GTI has no influence on the content or design of these pages owned by external providers and hence refers to their privacy policies. Please be aware that the assurances provided in this privacy policy quite naturally do not necessarily apply there.</p>

		<h3 i18n>8. Security</h3>
		<p i18n>GTI takes technical and organisational measures to ensure security in line with the current state of technology to protect the data you provide to GTI against accidental or deliberate manipulation, loss, destruction or access by unauthorised persons. We continually improve our security measures as technology progresses.</p>

		<h3 i18n>9. Right of information, questions on data privacy and revocation</h3>
		<p i18n>We attach great importance to your trust in us. This is why we seek to be available to provide you with information and to answer your questions at any time. Please contact GTI if you have any questions concerning the processing of your personal data; GTI is also available if you are seeking information, wish to place applications or lodge complaints on the question of data privacy.</p>
		<p i18n>Moreover, you are entitled to revoke the consent you have granted respectively at any time, effective for the future.</p>
		<p><ng-container i18n></ng-container>Please send any requests in this respect to the following contact address: <a href="mailto:{{contactmail}}">{{contactmail}}</a></p>
	</div>
</div>
