@import "../../../../style/globals.scss";

:host {
  .benchmark-select {
    border: #ebebeb solid 1px;
    border-radius: 3px;
  }

  .select-radios, .select-checks {
    padding: 4px 8px;
    vertical-align: top;
    display: inline-block;

    div {
      font-size: 0.9em;
      padding-bottom: 4px;
    }

    label {
      font-size: 0.8em;
      line-height: 2em;
      margin: 0;
      padding: 0 0 0 19px;
      input {
        margin-left: -16px;
      }
    }
  }

  @include respond-to(medium-up) {
    .select-radios, .select-checks {
      width: 33%;
    }
  }
}
