<breadcrumb [crumbs]="crumbs"></breadcrumb>
<div class="container-outer downloads">
	<div class="container">
		<h1 class="container-title" i18n>Download</h1>
	</div>
	<div class="container">
		<p i18n>On this page you find all the tender data of this portal.</p>
	</div>
	<div class="container container-current-download" *ngIf="current">
		<p>
			<ng-container i18n>Current Portal</ng-container>: {{current.name}}<br/>
		</p>
		<div class="container">
			<div class="container-left-12">
				<ng-container i18n>Tenders</ng-container>: {{current.count}}<br/>
				<div class="download-buttons">
					<div *ngIf="current.formats.json">
						<a class="download-button" href="/data/files/{{current.formats.json.filename}}" download><i class="icon-cloud-download"></i> Digiwhist JSON</a>
						<p><ng-container i18n>Size</ng-container>: {{current.formats.json.size | formatFileSize}}</p>
					</div>
					<div *ngIf="current.formats.ndjson">
						<a class="download-button" href="/data/files/{{current.formats.ndjson.filename}}" download><i class="icon-cloud-download"></i> Digiwhist NDJSON</a>
						<p><ng-container i18n>Size</ng-container>: {{current.formats.ndjson.size | formatFileSize}}</p>
					</div>
					<div *ngIf="current.formats.csv">
						<a class="download-button" href="/data/files/{{current.formats.csv.filename}}" download><i class="icon-cloud-download"></i> Digiwhist CSV</a>
						<p><ng-container i18n>Size</ng-container>: {{current.formats.csv.size | formatFileSize}}</p>
					</div>
					<div *ngIf="current.formats.ocds">
						<a class="download-button" href="/data/files/{{current.formats.ocds.filename}}" download><i class="icon-cloud-download"></i> OCDS JSON</a>
						<p><ng-container i18n>Size</ng-container>: {{current.formats.ocds.size | formatFileSize}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" *ngIf="downloads_ocsd | defined">
		<h2 class="h3">OCDS</h2>
		<div class="container">
			<p>
				<a target="_blank" rel="noopener" href="http://standard.open-contracting.org">Open Contracting Data Standard</a>
			</p>
		</div>
		<div class="container">
			<div class="tables-container">
				<table class="tables">
					<thead>
					<tr>
						<th i18n>Country</th>
						<th width="140" i18n>Modified</th>
						<th width="140" i18n>Size</th>
						<th width="60" i18n>JSON</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let entry of downloads_ocsd">
						<td>{{entry.name}}</td>
						<td class="right">{{entry.lastUpdate | formatDate}}</td>
						<td class="right">{{entry.size | formatFileSize}}</td>
						<td class="center"><a href="/data/files/{{entry.filename}}" download><i class="icon-cloud-download"></i></a></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container" *ngIf="downloads | defined">
		<h2 class="h3">Digiwhist</h2>
		<div class="container">
			<p>
				<a target="_blank" rel="noopener" href="https://docs.google.com/spreadsheets/d/13pGIpt47sMBnZ68E-N-hMLiErpDB1CQwZzd2MXIlq5U">JSON data description</a>
			</p>
			<p>
				<a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1fb7CgXJ2dqpbYujZRF8RU0gEBHwOojGM/view?usp=sharing">CSV data description</a>
			</p>
		</div>
	</div>
	<div class="container" *ngIf="downloads | defined">
		<div class="tables-container">
			<table class="tables">
			<thead>
			<tr>
				<th i18n>Country</th>
				<th width="140" i18n>Tenders</th>
				<th width="140" i18n>Modified</th>
				<th width="100" i18n>Size</th>
				<th width="60">JSON</th>
				<th width="60">NDJSON</th>
				<th width="100" i18n>Size</th>
				<th width="60">CSV</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let download of downloads">
				<td>{{download.name}}</td>
				<td class="right">{{download.count}}</td>
				<td class="right">{{download.lastUpdate | formatDate}}</td>
				<td class="right">{{download.formats.ndjson.size | formatFileSize}}</td>
				<td class="center"><a href="/data/files/{{download.formats.json.filename}}" download><i class="icon-cloud-download"></i></a></td>
				<td class="center"><a href="/data/files/{{download.formats.ndjson.filename}}" download><i class="icon-cloud-download"></i></a></td>
				<td class="right">{{download.formats.csv.size | formatFileSize}}</td>
				<td class="center"><a href="/data/files/{{download.formats.csv.filename}}" download><i class="icon-cloud-download"></i></a></td>
			</tr>
			</tbody>
		</table>
		</div>
		<p i18n>Files are compressed with <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Gzip">GZip</a>, which should be supported by your ZIP application.</p>
		<p i18n>* Due to the amount of entries and many JSON parser don't support the file size, DIGIWHIST Tender JSON data has also been saved as <a target="_blank" href="http://ndjson.org/">Newline Delimited JSON</a>.</p>
		<p i18n>The structure of entries is outlined in a <a target="_blank" rel="noopener" href="https://github.com/digiwhist/opentender-data/blob/master/shared/schema.json">JSON Schema File</a>.</p>
	</div>
</div>

