<breadcrumb [crumbs]="crumbs"></breadcrumb>
<div class="container-outer downloads">
	<div class="container">
		<h1 class="container-title" i18n>Download</h1>
	</div>
	<div class="container">
		<p i18n>On this page you find all the tender data of this portal.</p>
	</div>
	<div class="container" *ngIf="downloads_csv | defined">
		<h2 class="h3" i18n>CSV</h2>
		<div class="container">
			<div class="tables-container">
				<table class="tables">
					<thead>
					<tr>
						<th i18n>Source</th>
						<th width="140" i18n>Entries</th>
						<th width="140" i18n>Size</th>
						<th width="60" i18n>CSV</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let csv of downloads_csv">
						<td>{{csv.name}}</td>
						<td class="right">{{csv.count}}</td>
						<td class="right">{{csv.size | formatFileSize}}</td>
						<td class="center"><a href="/data/files/{{csv.filename}}" download><i class="icon-cloud-download"></i></a></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container" *ngIf="downloads | defined">
		<h2 class="h3" i18n>Hierarchical JSON</h2>
	</div>
	<div class="container container-current-download" *ngIf="current">
		<p>
			<ng-container i18n>Current Portal</ng-container>: {{current.name}}<br/>
		</p>
		<div class="container">
			<div class="container-left-6">
				<ng-container i18n>Tenders</ng-container>: {{current.count}}<br/>
				<ng-container i18n>Size</ng-container>: {{current.formats.ndjson.size | formatFileSize}}
			</div>
			<div class="container-left-6">
				<a href="/data/files/{{current.formats.json.filename}}" download><i class="icon-cloud-download"></i> JSON</a><br/>
				<a href="/data/files/{{current.formats.ndjson.filename}}" download><i class="icon-cloud-download"></i> NDJSON</a>
			</div>
		</div>
	</div>
	<div class="container" *ngIf="downloads | defined">
		<div class="tables-container">
			<table class="tables">
			<thead>
			<tr>
				<th i18n>Country</th>
				<th width="140" i18n>Tenders</th>
				<th width="140" i18n>Size</th>
				<th width="60" i18n>JSON</th>
				<th width="60" i18n>NDJSON*</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let download of downloads">
				<td>{{download.name}}</td>
				<td class="right">{{download.count}}</td>
				<td class="right">{{download.formats.ndjson.size | formatFileSize}}</td>
				<td class="center"><a href="/data/files/{{download.formats.json.filename}}" download><i class="icon-cloud-download"></i></a></td>
				<td class="center"><a href="/data/files/{{download.formats.ndjson.filename}}" download><i class="icon-cloud-download"></i></a></td>
			</tr>
			</tbody>
		</table>
		</div>
		<p i18n>Files are compressed with <a href="https://en.wikipedia.org/wiki/Gzip">GZip</a>, which should be supported by your ZIP application.</p>
		<p i18n>* Due to the amount of entries and many JSON parser don't support the file size, DIGIWHIST Tender JSON data has also been saved as <a href="http://ndjson.org/">Newline Delimited JSON</a>.</p>
		<p i18n>The structure of entries is outlined in a <a href="https://github.com/digiwhist/opentender-data/blob/master/shared/schema.json" target="_blank">JSON Schema File</a>.</p>
	</div>
</div>

