<div class="container-outer downloads">
	<div class="container">
		<h1 class="container-title" i18n>Download</h1>
	</div>
	<div class="container">
		<p i18n>On this page you find all the tender data of this portal.</p>
	</div>
	<div class="container">
		<h2 class="h3" i18n>CSV</h2>
		<p>[<i class="icon-hammer"></i> CSV download is under construction]</p>
	</div>
	<div class="container">
		<h2 class="h3" i18n>Hierarchical JSON</h2>
	</div>
	<div class="container container-current-download" *ngIf="current">
		<p>
			<ng-container i18n>Current Portal</ng-container>
			: {{current.name}}<br/>
			<ng-container i18n>Tenders</ng-container>
			: {{current.count}}<br/>
			<a href="/data/files/{{current.formats.json.filename}}" download><i class="icon-cloud-download"></i> JSON</a> {{current.formats.json.size | formatFileSize}} -
			<a href="/data/files/{{current.formats.ndjson.filename}}" download><i class="icon-cloud-download"></i> NDJSON</a> {{current.formats.ndjson.size | formatFileSize}}
		</p>
	</div>
	<div class="container">
		<div class="tables-container">
			<table class="tables">
			<thead>
			<tr>
				<th i18n>Country</th>
				<th i18n>Tenders</th>
				<th i18n>JSON</th>
				<th i18n>NDJSON*</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let download of downloads">
				<td>{{download.name}}</td>
				<td class="right">{{download.count}}</td>
				<td class="right"><a href="/data/files/{{download.formats.json.filename}}" download><i class="icon-cloud-download"></i></a><br/>{{download.formats.json.size | formatFileSize}}</td>
				<td class="right"><a href="/data/files/{{download.formats.ndjson.filename}}" download><i class="icon-cloud-download"></i></a><br/>{{download.formats.ndjson.size | formatFileSize}}</td>
			</tr>
			</tbody>
		</table>
		</div>
		<p i18n>Files are compressed with <a href="https://en.wikipedia.org/wiki/Gzip">GZip</a>, which should be supported by your ZIP application.</p>
		<p i18n>* Due to the amount of entries and many JSON parser don't support the file size, DIGIWHIST Tender JSON data has also been saved as <a href="http://ndjson.org/">Newline Delimited JSON</a>.</p>
		<p i18n>The structure of entries is outlined in a <a href="https://github.com/digiwhist/opentender-data/blob/master/shared/schema.json" target="_blank">JSON Schema File</a>.</p>
	</div>
</div>

