<div class="labeled-input-container" [ngClass]="{empty:isEmpty(),focused:focused}">
	<label>
		<span>{{placeholder}}</span><span *ngIf="typeaheadLoading">&nbsp;<i class="icon-spinner2 icon-rotate"></i></span>
	</label>
	<input [(ngModel)]="asyncSelected"
		   [typeahead]="dataSource"
		   (typeaheadLoading)="changeTypeaheadLoading($event)"
		   (typeaheadNoResults)="changeTypeaheadNoResults($event)"
		   (typeaheadOnSelect)="typeaheadOnSelect($event)"
		   (typeaheadOnBlur)="typeaheadOnBlur($event)"
		   (typeaheadOnFocus)="typeaheadOnFocus($event)"
		   [typeaheadWaitMs]="300"
		   [typeaheadOptionField]="optionField"
		   [typeaheadOptionsLimit]="optionsLimit"
		   typeaheadAsync="true"
		   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
		   class="form-control">
</div>
<div class="autocomplete-state">
	<span *ngIf="typeaheadNoResults">{{i18n.ChartsTranslations.no_data}}</span>
</div>
