<section class="container-outer authority entity" *ngIf="!sector">
	<section class="container">
		<div class="entity-title">Sector</div>
		<div *ngIf="error">Error: {{error}}</div>
		<div *ngIf="!error">Loading...</div>
	</section>
</section>
<section class="container-outer sector entity" *ngIf="sector">
	<section class="container">
		<div class="entity-title"><i class="icon-hammer icon-large"></i> Sector</div>
		<h1>{{sector.name}}</h1>
		<div *ngIf="parent_sectors.length>0">
			<div class="title">Parent CPV:</div>
			<div *ngFor="let val of parent_sectors"><a [routerLink]="'/sector/'+val.id">CPV{{val.id}}: {{val.name}}</a></div>
		</div>
	</section>

	<section class="container container-margin">
		<h2>Indicators</h2>
		<div class="container">
			<div class="container-left-6">
				<graph histogram [data]="vis.lots_in_years"></graph>
				<br/>
				<graph counts [data]="vis.counts"></graph>
				<br/>
				<graph sum_prices [data]="vis.sums_finalPrice"></graph>
			</div>
			<div class="container-left-6">
				<div *ngIf="vis.cpvs_codes">
					<graph sectors [data]="vis.cpvs_codes" [title]="'Subsectors'"></graph>
				</div>
			</div>
		</div>
	</section>
	<section class="container container-margin">
		<div class="container">
			<div class="container-left-6">
				<graph companies [data]="vis.top_companies"></graph>
			</div>
			<div class="container-left-6">
				<graph authorities [data]="vis.top_authorities"></graph>
			</div>
		</div>
		<div class="container">
			<div class="container-left-6" *ngIf="vis.subgroups && vis.subgroups.length>0">
				<h2>Subgroups</h2>
				<table class="tables">
					<tr>
						<th>Subgroup</th>
						<th>Tenders</th>
					</tr>
					<tr *ngFor="let val of vis.subgroups">
						<td>
							<a [routerLink]="'/sector/'+val.id">{{val.name}}</a>
						</td>
						<td>{{val.value| formatNumber}}</td>
					</tr>
				</table>
			</div>
			<div class="container-left-6">
			</div>
		</div>
	</section>

	<section class="container">
		<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" [title]="'Tenders'" (searchChange)="searchChange($event);"></tender-table>
	</section>
</section>
