<breadcrumb [crumbs]="crumbs"></breadcrumb>
<loading [loading]="!sector" [notFound]="notFound"></loading>
<div class="container-outer entity" *ngIf="sector">
	<div class="container">
		<h1 class="container-title">{{sector.name}} (CPV {{sector.id}})</h1>
	</div>
	<!--<div class="container container-padded-top" *ngIf="parent_sectors.length>0">-->
		<!--<div class="title"><ng-container i18n>Parent Sectors</ng-container>:</div>-->
		<!--<div *ngFor="let val of parent_sectors"><a [routerLink]="['/sector/'+val.id]">{{val.name}} (CPV {{val.id}})</a></div>-->
	<!--</div>-->
	<div class="container container-margin">
		<select-year-range [years]="viz.years.data" (onRangeChange)="onYearRangeSliderChange($event)"></select-year-range>
	</div>

	<div [ngClass]="{'is-loading': loading>0}">
		<div class="container container-margin">
			<div class="container" *ngIf="viz.subsectors.data && viz.subsectors.data.length>0">
				<div class="container-left-12">
					<graph sector-treemap [data]="viz.subsectors.data" [title]="viz.subsectors.title"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph score-histogram [data]="viz.score_in_years.data" [title]="viz.score_in_years.title" [glossary]="'#TENDER'"></graph>
				</div>
				<div class="container-left-6" *ngIf="viz.subsectors.data && viz.subsectors.data.length>0">
					<graph score-sectors [data]="viz.score_in_sectors.data" [title]="viz.score_in_sectors.title"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph indicator-histogram [data]="viz.histogram.data" [title]="viz.histogram.title"></graph>
				</div>
				<div class="container-left-6">
					<graph procedure-types [data]="viz.procedure_types.data" [title]="viz.procedure_types.title"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph companies [data]="viz.top_companies.data" [title]="viz.top_companies.title"></graph>
				</div>
				<div class="container-left-6">
					<graph authorities [data]="viz.top_authorities.data" [title]="viz.top_authorities.title"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-12">
					<graph buyer-nutsmap [data]="viz.authority_nuts.data"></graph>
				</div>
			</div>
		</div>
		<div class="container">
			<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);"></tender-table>
		</div>
	</div>

</div>

