<div class="container-outer sector entity" *ngIf="!sector">
	<div class="container">
		<div i18n>Loading…</div>
	</div>
</div>
<div class="container-outer sector entity" *ngIf="sector">
	<div class="container">
		<h1 class="container-title">{{sector.name}} (CPV {{sector.id}})</h1>
	</div>
	<div class="container container-padded-top" *ngIf="parent_sectors.length>0">
		<div class="title"><ng-container i18n>Parent Sectors</ng-container>:</div>
		<div *ngFor="let val of parent_sectors"><a [routerLink]="'/sector/'+val.id">{{val.name}} (CPV {{val.id}})</a></div>
	</div>
	<div class="container container-margin">
		<div *ngIf="filter.time">
			<slider
					[min]="filter.time.startYear"
					[max]="filter.time.endYear"
					[startValue]="filter.time.startYear"
					[endValue]="filter.time.endYear"
					stepValue="1"
					defaultWidth="934"
					(onSliderChange)="onSliderChange($event)"></slider>
		</div>
	</div>

	<div [ngClass]="{'is-loading': loading>0}">
		<div class="container container-margin">
			<div class="container" *ngIf="viz.subsectors && viz.subsectors.length>0">
				<div class="container-left-12">
					<graph sector-treemap [data]="viz.subsectors"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph score-histogram [data]="viz.score_in_years" [title]="'Composite Indicator'"></graph>
				</div>
				<div class="container-left-6" *ngIf="viz.subsectors && viz.subsectors.length>0">
					<graph score-sectors [data]="viz.score_in_sectors" [title]="'Composite Indicator'"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph indicator-histogram [data]="viz.histogram.data" [title]="viz.histogram.title"></graph>
				</div>
				<div class="container-left-6">
					<graph procedure-types [data]="viz.procedure_types"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph companies [data]="viz.top_companies"></graph>
				</div>
				<div class="container-left-6">
					<graph authorities [data]="viz.top_authorities"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-12">
					<graph buyer-nutsmap [data]="viz.authority_nuts"></graph>
				</div>
			</div>
		</div>
		<div class="container">
			<tender-table [search_cmd]="search_cmd" [columnIds]="columnIds" (searchChange)="searchChange($event);"></tender-table>
		</div>
	</div>

</div>

