<section class="container-outer dashboards">
	<section class="container">
		<section class="container">
			<div class="container-title">Market Analysis</div>
		</section>
		<div class="error" *ngIf="error">
			Error: {{error}}
		</div>
		<section class="container">
			<div class="container container-padded-large">
				<div class="container">
					<div class="container-left-12">
						<div class="title">Structure by Tender Count</div>
						<ngx-charts-tree-map
								class="chart-container"
								[chart]="charts.cpvs_code_main.chart"
								[data]="charts.cpvs_code_main.data"
								(select)="charts.cpvs_code_main.select($event)"
								(legendLabelClick)="charts.cpvs_code_main.onLegendLabelClick($event)">
						</ngx-charts-tree-map>
					</div>
				</div>
				<br>
				<div class="container">
					<div class="container-left-12">
						<div class="title">Volume by Sector in €</div>
						<ngx-charts-tree-map
								class="chart-container"
								[chart]="charts.cpvs_code_main_volume.chart"
								[data]="charts.cpvs_code_main_volume.data"
								(select)="charts.cpvs_code_main_volume.select($event)"
								(legendLabelClick)="charts.cpvs_code_main_volume.onLegendLabelClick($event)">
						</ngx-charts-tree-map>
					</div>
				</div>
			</div>
			<table class="tables">
				<tr>
					<th>Sector Profile</th>
					<th>CPV</th>
					<th>Name</th>
					<th>Tender Count</th>
				</tr>
				<tr *ngFor="let sector of sectors">
					<td><a routerLink="/sector/{{sector.id}}"><i class="icon-hammer icon-large"></i></a></td>
					<td>{{sector.id}}</td>
					<td>{{sector.name}}</td>
					<td>{{sector.value | formatNumber}}</td>
				</tr>
			</table>
		</section>
	</section>
</section>