<div class="container-outer dashboards">
	<div class="container">
		<h1 class="container-title" i18n>Market Analysis</h1>
	</div>
	<div class="container container-margin">
		<select-year-range [years]="viz.years.data" (onRangeChange)="onYearRangeSliderChange($event)"></select-year-range>
	</div>
	<div [ngClass]="{'is-loading': loading>0}">
		<div class="container container-margin">
			<div class="container">
				<div class="container-left-12">
					<graph sector-treemap [data]="viz.sectors_stats.data" [title]="viz.sectors_stats.title"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph score-histogram [data]="viz.score_in_years.data" [title]="viz.score_in_years.title" [glossary]="'#TENDER'"></graph>
				</div>
				<div class="container-left-6">
					<graph score-sectors [data]="viz.score_in_sectors.data" [title]="viz.score_in_sectors.title"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph histogram [data]="viz.lots_in_years.data" [title]="viz.lots_in_years.title"></graph>
				</div>
				<div class="container-left-6">
					<graph procedure-types [data]="viz.procedure_types.data" [title]="viz.procedure_types.title"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-6">
					<graph companies [data]="viz.top_companies.data" [title]="viz.top_companies.title"></graph>
				</div>
				<div class="container-left-6">
					<graph authorities [data]="viz.top_authorities.data" [title]="viz.top_authorities.title"></graph>
				</div>
			</div>
			<div class="container">
				<div class="container-left-12">
					<graph volume-nutsmap [data]="viz.volume_regions.data"></graph>
				</div>
			</div>
		</div>
		<br>
		<div>
			<h2 class="table-title"><ng-container i18n>Sectors</ng-container><ng-container *ngIf="sectors_stats.length>0">: {{sectors_stats.length}}</ng-container></h2>
		</div>
		<div class="tables-container">
			<table class="tables">
				<tr>
					<th i18n>Sector Profile</th>
					<th i18n>CPV</th>
					<th i18n>Name</th>
					<th i18n>Nr. of Tenders</th>
					<th i18n>Volume of Tenders (€)</th>
				</tr>
				<tr *ngFor="let sectorInfo of sectors_stats">
					<td><a [routerLink]="['/sector/'+sectorInfo.sector.id]"><i class="icon-hammer icon-large"></i></a></td>
					<td>{{sectorInfo.sector.id}}</td>
					<td>{{sectorInfo.sector.name}}</td>
					<td>{{sectorInfo.sector.value | formatNumber}}</td>
					<td>€ {{sectorInfo.stats.sum_finalPriceEUR.value | formatCurrencyValue}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
