<section class="container-outer dashboards">
	<section class="container">
		<section class="container">
			<div class="container-title">Market Analysis</div>
		</section>
		<div class="error" *ngIf="error">
			Error: {{error}}
		</div>
		<div class="container">
			<div class="container-left-12">
				<graph market-treemap [data]="viz.sectors_stats"></graph>
			</div>
		</div>
		<br>
		<table class="tables">
			<tr>
				<th>Sector Profile</th>
				<th>CPV</th>
				<th>Name</th>
				<th>Tender Count</th>
				<th>Volume (€)</th>
			</tr>
			<tr *ngFor="let sectorInfo of sectors_stats">
				<td><a routerLink="/sector/{{sectorInfo.sector.id}}"><i class="icon-hammer icon-large"></i></a></td>
				<td>{{sectorInfo.sector.id}}</td>
				<td>{{sectorInfo.sector.name}}</td>
				<td>{{sectorInfo.sector.value | formatNumber}}</td>
				<td>€ {{sectorInfo.stats.sums_finalPrice['EUR'] | formatCurrencyValue}}</td>
			</tr>
		</table>
	</section>
</section>