<div class="container-outer dashboards">

	<div class="container">
		<h1 class="container-title">Market Analysis</h1>
	</div>

	<div class="container container-margin">
		<div *ngIf="filter.time">
			<slider
					[min]="filter.time.startYear"
					[max]="filter.time.endYear"
					[startValue]="filter.time.startYear"
					[endValue]="filter.time.endYear"
					stepValue="1"
					defaultWidth="934"
					(onSliderChange)="onSliderChange($event)"></slider>
		</div>
	</div>

	<div [ngClass]="{'is-loading': loading>0}">
		<div class="container container-margin">
			<div class="container">
				<div class="container-left-12">
					<graph sector-treemap [data]="viz.sectors_stats"></graph>
				</div>
			</div>
		</div>
		<div class="container container-margin">
			<div class="container">
				<div class="container-left-12">
					<graph volume-nutsmap [data]="viz.volume_regions"></graph>
				</div>
			</div>
		</div>
		<br>
		<table class="tables">
			<tr>
				<th>Sector Profile</th>
				<th>CPV</th>
				<th>Name</th>
				<th>Tender Count</th>
				<th>Volume (€)</th>
			</tr>
			<tr *ngFor="let sectorInfo of sectors_stats">
				<td><a routerLink="/sector/{{sectorInfo.sector.id}}"><i class="icon-hammer icon-large"></i></a></td>
				<td>{{sectorInfo.sector.id}}</td>
				<td>{{sectorInfo.sector.name}}</td>
				<td>{{sectorInfo.sector.value | formatNumber}}</td>
				<td>€ {{sectorInfo.stats.sum_finalPriceEUR.value | formatCurrencyValue}}</td>
			</tr>
		</table>

	</div>
</div>
