<div class="slab-hero slab-top container-padded-bottom">
	<div class="container-outer">
		<div class="container-left-10 hero">
			<h2 class="hero-title_text" i18n>Welcome to Opentender</h2>
			<p i18n>This platform allows you to search and analyse tender data from 33 jurisdictions (28 EU member states, Norway, the EU Institutions, Iceland, Switzerland, Georgia).</p>
		</div>
	</div>
</div>
<div *ngIf="ip_country">
	<div class="container-outer">
		<div class="container-left-12 portal-ip-info slab-info slab-border-light">
			<ng-container i18n>It looks like you are browsing from {{ip_country.name}}.</ng-container>
			<br/>
			<ng-container i18n>We invite you to visit <a href="{{'/'+ip_country.id | portalLink}}">Opentender {{ip_country.name}}</a>.</ng-container><br/><br/>
			<ng-container i18n>Change the language of this page</ng-container><br/>
			<div class="languages">
				<span *ngFor="let lang of languages"><a href="?lang={{lang.id}}">{{lang.name}}</a> </span>
			</div>
		</div>
	</div>
</div>
<div class="slab-alpha container-padded-top-lite">
	<div class="container-outer">
		<h3 class="start-heading" i18n>You can view the data on individual national portals by selecting a country below or explore <a href="{{'/all' | portalLink}}">all available data</a>.</h3>
		<div class="container-left-6 portal-map-container">
			<portal-map [portals]="portals"></portal-map>
		</div>
		<div class="container-left-6">
			<div class="portal-links-legend" i18n>Nr. of Tenders</div>
			<ul class="portal-links">
				<li class="portal-link" *ngFor="let portal of portals" [ngClass]="{active:portal.id===current.id}">
					<a [routerLink]="['/']" *ngIf="portal.id===current.id">{{portal.name}}</a>
					<a href="{{'/'+portal.id  | portalLink}}" *ngIf="portal.id!==current.id">{{portal.name}}</a>
					<div>{{portal.value | formatNumber}}</div>
				</li>
			</ul>
		</div>
	</div>
</div>
