<section class="slab-top" *ngIf="ip_country">
	<div class="container-outer">
		<div class="container-left-12 container-padded slab-info u-centered slab-border-light">
			<ng-container i18n>It looks like you are browsing from {{ip_country.name}}.</ng-container>
			<br/>
			<ng-container i18n>We invite you to visit <a href="/{{ip_country.id}}">Opentender {{ip_country.name}}</a>.</ng-container>
		</div>
	</div>
</section>
<section class="slab-alpha container-padded-bottom">
	<div class="container-outer">
		<h3 class="start-heading" i18n>Please choose a country portal or explore <a href="/eu">all available data</a></h3>
		<div class="container-left-6">
			<portal-map [portals]="portals"></portal-map>
		</div>
		<div class="container-left-6">
			<ul class="portal-links">
				<li class="portal-link" *ngFor="let portal of portals" [ngClass]="{active:portal.id===current.id}">
					<a [routerLink]="['/']" *ngIf="portal.id===current.id">{{portal.name}}</a>
					<a href="/{{portal.id}}" *ngIf="portal.id!==current.id">{{portal.name}}</a>
					<div>{{portal.value | formatNumber}}&nbsp;<ng-container i18n>{portal.value, plural, =1 {tender} other {tenders}}</ng-container>
					</div>
				</li>
			</ul>
			<!--<ul class="portal-links" *ngIf="allportal">-->
				<!--<li class="portal-link" [ngClass]="{active:allportal.id===current.id}">-->
					<!--<a href="/eu" i18n>All available data</a>-->
					<!--<div>{{allportal.value | formatNumber}}&nbsp;<ng-container i18n>{allportal.value, plural, =1 {tender} other {tenders}}</ng-container></div>-->
				<!--</li>-->
				<!--<li class="portal-link"></li>-->
			<!--</ul>-->
		</div>
	</div>
</section>
