@import "../../../../../style/globals.scss";

:host {
  $base-border-radius: 3px !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $pagination-border-color: silver;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: $primary-button-color;
  $pagination-hover-background: darken($pagination-background, 5);
  $pagination-color: $base-font-color;
  $pagination-disabled-color: lighten($pagination-color, 40%);
  $pagination-dropdown-color: gray;

  margin-bottom: 20px;
  font-size: 0.8em;

  .entriesonpage {
    background-color: white;
    border: thin solid $pagination-border-color;
    border-radius: $base-border-radius;
    display: inline-block;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0.4em 3.5em 0.4em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, $pagination-dropdown-color 50%),
    linear-gradient(135deg, $pagination-dropdown-color 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) calc(0.8em + 2px),
    calc(100% - 10px) calc(0.8em + 2px),
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;

    &:focus {
      background-image: linear-gradient(45deg, $pagination-dropdown-color 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, $pagination-dropdown-color 50%),
      linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 10px) 0.8em,
      calc(100% - 15px) 0.8em,
      calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px,
      5px 5px,
      1px 1.5em;
      background-repeat: no-repeat;
      border-color: darken($pagination-border-color, 5%);
      outline: 0;
    }
  }

  ul {
    display: inline-block;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    li {
      padding-left: 0px;
      display: inline-block;
    }
  }

  .page-btn {
    margin: 0;
    display: inline-block;
    line-height: 1.2em;
    padding: 0.5em 1em 0.5em 1em;

    @include transition (all 0.2s ease-in-out);
    background-color: $pagination-background;
    border-radius: $base-border-radius;
    border: $pagination-border;
    color: $pagination-color;
    outline: none;
    min-width: 80px;
    font-size: 1em;
    text-align: center;

    &:hover {
      background-color: $pagination-hover-background;
      color: $action-color;
    }

    &.disabled {
      &:hover {
        background: $pagination-background;
        color: $pagination-disabled-color;
        cursor: default;
      }
    }
  }

}
